Repository tournesol-app/tournesol, pull requests merged in 2022-11, with the labels that each got.

#1188 [front] refactor: simplify the first home page paragraphs
  README.md
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/pages/home/videos/HomeVideos.tsx
Labels: Frontend

#1181 [front] feat: add an order by input in the ratings page
  backend/tournesol/views/ratings.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/scripts/openapi.yaml
  frontend/src/features/ratings/RatingOrderByInput.tsx
  frontend/src/features/ratings/RatingsFilter.tsx
  frontend/src/hooks/useListFilter.ts
  frontend/src/pages/videos/VideoRatings.tsx
  frontend/src/utils/constants.tsx
  frontend/src/utils/types.ts
  tests/cypress/integration/frontend/myRatedVideosPage.spec.ts
Labels: Frontend

#1191 [front] fix: the footer now allows to download the full dataset
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/comparisons/ComparisonSliders.tsx
  frontend/src/features/frame/components/footer/Footer.tsx
Labels: Frontend

#1195 [analytics] fix: bad command in the `README.md`
  analytics/README.md
  analytics/tournesol_dataviz.py
Labels: Analytics

#1194 [front] chore: upgrade dependencies, including mimimatch
  frontend/package.json
  frontend/yarn.lock
Labels: Frontend

#1193 [ext] style: use `gap` and `justify-content` in flex containers...
  browser-extension/src/addTournesolRecommendations.css
  browser-extension/src/manifest.json
Labels: Extension

#1198 [back] Round trust scores and display in % in admin
  backend/core/admin.py
Labels: Backend

#1199 [front] fix: round the criteria scores to the nearest integer
  frontend/src/components/CriteriaBarChart.tsx
  frontend/src/components/entity/EntityCardScores.tsx
  frontend/src/features/charts/CriteriaScoresDistribution.tsx
  frontend/src/features/videos/VideoCardScores.tsx
  frontend/src/utils/criteria.ts
Labels: Frontend, UX

#1186 [back] feat: Add algorithm to compute voting rights
  backend/vouch/tests/test_voting_rights_algo.py
  backend/vouch/voting_rights.py
Labels: Backend

#1132 [front] feat: display the trust score on vouching page
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/scripts/openapi.yaml
  frontend/src/pages/personal/vouchers/TrustScore.tsx
  frontend/src/pages/personal/vouchers/VouchersPage.spec.tsx
  frontend/src/pages/personal/vouchers/VouchersPage.tsx
Labels: Frontend

#1209 [front] style: move the contribute description text to the left
  frontend/src/pages/home/videos/sections/ComparisonSection.tsx
  frontend/src/pages/home/videos/sections/SectionTitle.tsx
Labels: Frontend

#1204 [front] trans: use trust score instead of voting right in vouching page
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/pages/about/TrustedDomains.tsx
  frontend/src/pages/personal/vouchers/TrustScore.tsx
Labels: Frontend

#1201 [anaytics] Some fixtures and improvements
  analytics/README.md
  analytics/Tournesol_Data_Visualization.py
  analytics/pages/01_User_comparisons.py
  analytics/pages/02_Videos_and_channels.py
  analytics/requirements.txt
  analytics/tournesol_dataviz.py
  analytics/utils.py
Labels: Analytics

#1213 [data-viz] chore: rename `analytics` to `data-visualization`
  LICENSE.md
  README.md
  data-visualization/.gitignore
  data-visualization/LICENSE
  data-visualization/README.md
  data-visualization/Tournesol_Data_Visualization.py
  data-visualization/pages/01_User_comparisons.py
  data-visualization/pages/02_Videos_and_channels.py
  data-visualization/requirements.txt
  data-visualization/utils.py
Labels: Meta, Data visualization

#1200 [back] feat: persist and use voting rights
  backend/ml/inputs.py
  backend/ml/mehestan/global_scores.py
  backend/ml/mehestan/run.py
  backend/ml/outputs.py
  backend/tournesol/admin.py
  backend/tournesol/migrations/0049_contributorratingcriteriascore_voting_right.py
  backend/tournesol/models/ratings.py
  backend/tournesol/tests/test_ml_run.py
Labels: Backend

#1202 [front] feat: add a section about the Tournesol research on the home page
  frontend/public/images/criteria_pearson_correlation_matrix_2022_10_10.png
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/pages/home/videos/HomeVideos.tsx
  frontend/src/pages/home/videos/sections/research/PublicDataPublicCodeBox.tsx
  frontend/src/pages/home/videos/sections/research/ResearchSection.tsx
  frontend/src/pages/home/videos/sections/research/ScientificLiteratureBox.tsx
  frontend/src/pages/home/videos/sections/research/VisualizeDataBox.tsx
Labels: Frontend, UX

#1215 [front] i18n: fix typo in "Our publications" in the home page
  frontend/public/locales/en/translation.json
Labels: Frontend
