Repository tournesol-app/tournesol, pull requests merged in 2022-12, with the labels that each got.

#1221 [front] feat: more social links in the footer + add the mailing list
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/frame/components/footer/Footer.tsx
  frontend/src/utils/url.ts
Labels: Frontend

#1212 [front] refactor: display the extension section inside the reco. section
  LICENSE.md
  frontend/LICENSE.AGPL-3.0-or-later.txt
  frontend/LICENSE.CC-BY-4.0.txt
  frontend/LICENSE.MPL-2.0.txt
  frontend/README.md
  frontend/public/images/criteriaIcons/backfire_risk.svg
  frontend/public/images/criteriaIcons/better_habits.svg
  frontend/public/images/criteriaIcons/diversity_inclusion.svg
  frontend/public/images/criteriaIcons/engaging.svg
  frontend/public/images/criteriaIcons/entertaining_relaxing.svg
  frontend/public/images/criteriaIcons/importance.svg
  frontend/public/images/criteriaIcons/layman_friendly.svg
  frontend/public/images/criteriaIcons/pedagogy.svg
  frontend/public/images/criteriaIcons/reliability.svg
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/public/logos/Chrome-Browser-icon-fullColor.svg
  frontend/public/logos/Fx-Browser-icon-fullColor.svg
  frontend/src/components/CriteriaRadarChart.tsx
  frontend/src/features/videos/VideoCardScores.tsx
  frontend/src/pages/home/videos/HomeVideos.tsx
  frontend/src/pages/home/videos/sections/ComparisonSection.tsx
  frontend/src/pages/home/videos/sections/ExtensionSection.tsx
  frontend/src/pages/home/videos/sections/recommendations/RecommendationsSection.tsx
  frontend/src/pages/home/videos/sections/recommendations/UseOurExtension.tsx
  frontend/src/utils/criteria.ts
Labels: Frontend, UX

#1223 [front] refactor: add a reusable `<TitledPaper>` component
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/TitledPaper.tsx
  frontend/src/pages/home/videos/sections/research/PublicDataPublicCodeBox.tsx
  frontend/src/pages/home/videos/sections/research/ScientificLiteratureBox.tsx
  frontend/src/pages/home/videos/sections/research/VisualizeDataBox.tsx
Labels: Frontend

#1225 [infra] chore: update grafana-image-renderer to its latest version
  infra/ansible/roles/monitoring/tasks/main.yml
Labels: Infra

#1227 [back] fix: reduce the risk of DB deadlock during batch operations
  backend/ml/outputs.py
  backend/vouch/trust_algo.py
Labels: Bug, Backend

#1226 [back] feat: add the preview of videos comparisons
  backend/tournesol/resources/comparison_slider-2x.png
  backend/tournesol/resources/comparison_slider-4x.png
  backend/tournesol/resources/comparison_slider.png
  backend/tournesol/tests/test_api_preview.py
  backend/tournesol/urls.py
  backend/tournesol/views/preview.py
  frontend/scripts/openapi.yaml
Labels: Backend, UX

#1231 [back] fix: temporarily downgrade the previews quality
  backend/tournesol/views/preview.py
Labels: Bug, Backend

#1187 [back] fix: update `QrUnc` in ml primitives, as defined in reference paper
  backend/ml/mehestan/primitives.py
  backend/ml/tests/test_mehestan_primitives.py
  backend/tournesol/tests/test_ml_run.py
Labels: Backend

#1222 [meta] chore: add a `CODE_OF_CONDUCT`
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Labels: Meta

#1234 [infra] fix: update external-urls-monitoring to show error message when failing
  infra/ansible/roles/monitoring/templates/external-urls-monitoring.sh.j2
Labels: Infra

#1233 `maxres` previews with fallback
  backend/tournesol/views/preview.py
Labels: Backend, UX

#1224 [back] feat: daily job to sync youtube playlists with recommended videos
  backend/scripts/youtube/youtube_channel_oauth_flow.py
  backend/settings/settings.py
  backend/tournesol/management/commands/sync_yt_playlists.py
  backend/tournesol/tests/test_sync_yt_playlists.py
  infra/ansible/inventory.yml
  infra/ansible/roles/django/tasks/main.yml
  infra/ansible/roles/django/templates/settings.yaml.j2
  infra/ansible/roles/django/templates/tournesol-yt-playlists.service.j2
  infra/ansible/roles/django/templates/tournesol-yt-playlists.timer.j2
  infra/ansible/scripts/deploy-without-secrets.sh
  infra/ansible/scripts/forget-secrets.sh
  infra/ansible/scripts/get-vm-secrets.sh
Labels: Backend

#1236 [back] sec: set the `HttpOnly` and `Secure` flags of cookies
  backend/settings/settings.py
Labels: Backend, Security

#1237 [infra] fix quote in deploy-without-secrets
  infra/ansible/scripts/deploy-without-secrets.sh
Labels: Infra

#1242 [infra] feat: set up a daily clean-up of expired back end's sessions
  infra/ansible/inventory.yml
  infra/ansible/roles/django/tasks/main.yml
  infra/ansible/roles/django/templates/tournesol-api-clearsessions.service.j2
  infra/ansible/roles/django/templates/tournesol-api-clearsessions.timer.j2
Labels: Backend, Infra

#1235 [ext] feat: add a Rate Now button under the YT videos
  browser-extension/src/addModal.js
  browser-extension/src/addRateButtons.css
  browser-extension/src/addRateButtons.js
  browser-extension/src/addRateLaterButton.css
  browser-extension/src/addRateLaterButton.js
  browser-extension/src/background.js
  browser-extension/src/images/add.svg
  browser-extension/src/images/compare.svg
  browser-extension/src/manifest.json
  frontend/src/features/frame/Frame.tsx
  frontend/src/index.css
Labels: Extension

#1248 [front] docs: fix a typo in a CSS comment
  frontend/src/index.css
Labels: Frontend, Documentation

#1250 [front] fix: typo in the word "simplest"
  frontend/public/locales/en/translation.json
Labels: Frontend

#1228 [back] perf: reduce nbr of SQL queries in _get_user_comparability_augmenting_videos
  backend/tournesol/suggestions/suggestionprovider.py
Labels: Backend

#1252 [infra] fix: VM provisioning
  infra/ansible/inventory.yml
  infra/ansible/roles/django/handlers/main.yml
  infra/ansible/roles/django/tasks/main.yml
  infra/ansible/roles/monitoring/handlers/main.yml
  infra/ansible/roles/monitoring/tasks/main.yml
  infra/base-image/fetch-debian-image.sh
Labels: Bug, Infra

#1251 [back] feat: the proof of vote API is now a more generic proof API
  backend/tournesol/models/poll.py
  backend/tournesol/tests/test_api_proof.py
  backend/tournesol/tests/test_proof_of_vote.py
  backend/tournesol/urls.py
  backend/tournesol/views/exports.py
  backend/tournesol/views/proof.py
  backend/tournesol/views/proof_of_vote.py
  frontend/scripts/openapi.yaml
  frontend/src/pages/personal/feedback/ProofOfVote.tsx
Labels: Backend, Frontend

#1256 [back] feat: add individual criteria scores to public export
  backend/tournesol/lib/public_dataset.py
  backend/tournesol/resources/export_readme.txt
  backend/tournesol/tests/test_exports.py
  backend/tournesol/views/exports.py
Labels: Backend

#1261 [infra] sec: do not make secrets readable by all users
  infra/ansible/roles/django/tasks/main.yml
  infra/ansible/scripts/get-vm-secrets.sh
Labels: Infra, Security

#1265 [back] feat: restore the individual scores export
  backend/tournesol/lib/public_dataset.py
  backend/tournesol/resources/export_readme.txt
  backend/tournesol/tests/test_exports.py
  backend/tournesol/views/exports.py
Labels: Bug, Backend

#1264 [infra] update README with instructions to explore logs in Grafana
  infra/README.md
Labels: Infra, Documentation
