Repository tournesol-app/tournesol, pull requests merged in 2022-02, with the labels that each got.

#515 [back] feat: create video automatically in API views that require an existing video
  backend/settings/settings.py
  backend/tournesol/errors.py
  backend/tournesol/models/video.py
  backend/tournesol/serializers.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/tests/test_api_ratings.py
  backend/tournesol/tests/test_api_video_rate_later.py
  backend/tournesol/views/video.py
  backend/tournesol/views/video_rate_later.py
  browser-extension/utils.js
  frontend/scripts/openapi.yaml
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/comparisons/ComparisonList.tsx
  frontend/src/features/rateLater/rateLaterAPI.ts
  frontend/src/features/video_selector/VideoSelector.tsx
  frontend/src/pages/comparisons/Comparison.tsx
  frontend/src/pages/signup/Signup.tsx
  frontend/src/utils/video.ts
Labels: Backend, Frontend, Extension

#514 Public statistics API
  backend/tournesol/serializers.py
  backend/tournesol/tests/test_api_statistics.py
  backend/tournesol/urls.py
  backend/tournesol/views/stats.py
Labels: Backend

#535 [front] feat: add the new stats API in the schema
  frontend/scripts/openapi.yaml
Labels: Frontend

#513 [backend] Add models for twitter bot
  backend/core/utils/constants.py
  backend/settings/settings.py
  backend/twitterbot/__init__.py
  backend/twitterbot/admin.py
  backend/twitterbot/apps.py
  backend/twitterbot/migrations/0001_initial.py
  backend/twitterbot/migrations/__init__.py
  backend/twitterbot/models/__init__.py
  backend/twitterbot/models/tweeted.py
  backend/twitterbot/views/__init__.py
Labels: Backend, twitter-bot

#516 Clean Account Settings Layout
  frontend/src/features/settings/account/EmailAddressForm.tsx
  frontend/src/pages/settings/account/Account.tsx
Labels: Frontend

#537 [back] security: upgrade Django to 3.2.12
  backend/requirements.txt
Labels: Backend, Security, dependencies

#518 hyperlink added to compariosn page, ON MYCOMPARIOSN, useEFFECT update…
  frontend/src/features/videos/PublicStatusAction.tsx
  frontend/src/pages/comparisons/ComparisonList.tsx
Labels: Frontend

#499 duration added to videorecommandation, score and num of contributors …
  browser-extension/addTournesolRecommendations.css
  browser-extension/addTournesolRecommendations.js
  browser-extension/manifest.json
Labels: Extension

#541 Align layout of the extension with the frontend
  browser-extension/addTournesolRecommendations.js
  browser-extension/manifest.json
Labels: Extension

#546 [back] security: upgrade Django to 4.0.2
  backend/requirements.txt
Labels: Backend, Security, dependencies

#551 fix: ignore detected language if not in allowed choices
  backend/tournesol/utils/video_language.py
Labels: Backend

#536 [back] refactor: rename `Video` model in `Entity`
  backend/ml/management/commands/ml_train.py
  backend/tournesol/admin.py
  backend/tournesol/migrations/0020_entity_refactor_part1.py
  backend/tournesol/migrations/0021_fill_new_entity_fields.py
  backend/tournesol/migrations/0022_entity_refactor_part2.py
  backend/tournesol/models/__init__.py
  backend/tournesol/models/comparisons.py
  backend/tournesol/models/entity.py
  backend/tournesol/models/ratings.py
  backend/tournesol/serializers.py
  backend/tournesol/tests/factories/video.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/tests/test_api_statistics.py
  backend/tournesol/tests/test_api_video.py
  backend/tournesol/tests/test_api_video_rate_later.py
  backend/tournesol/utils/video_language.py
  backend/tournesol/views/stats.py
  backend/tournesol/views/video.py
  backend/twitterbot/models/tweeted.py
Labels: Backend, Core Refactor

#553 Fix requests not considered 'secure' when proxied via nginx + gunicorn
  backend/settings/settings.py
Labels: Backend

#559 Add link to Donate on About page
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/pages/about/About.tsx
Labels: Frontend

#556 Add models Criteria, CriteriaRank and CriteriaLocale
  backend/core/admin.py
  backend/core/migrations/0001_initial.py
  backend/core/migrations/0007_delete_userpreference.py
  backend/core/models/user.py
  backend/core/utils/models.py
  backend/ml/management/commands/ml_train.py
  backend/settings/settings.py
  backend/tournesol/admin.py
  backend/tournesol/migrations/0001_to_0011_squashed.py
  backend/tournesol/migrations/0024_criteria_criteriarank_poll_criterias_criterialocale.py
  backend/tournesol/migrations/0025_create_default_criterias.py
  backend/tournesol/models/__init__.py
  backend/tournesol/models/criteria.py
  backend/tournesol/models/entity.py
  backend/tournesol/models/poll.py
  backend/tournesol/models/ratings.py
  backend/tournesol/tests/test_ml_run.py
  backend/tournesol/utils/__init__.py
  backend/tournesol/utils/video_search.py
  backend/tournesol/views/video.py
Labels: Backend

#563 [back] refactor: comparisons API is now compatible with `Poll`
  backend/tournesol/migrations/0026_remove_comparison_poll_default.py
  backend/tournesol/models/comparisons.py
  backend/tournesol/serializers.py
  backend/tournesol/tests/factories/comparison.py
  backend/tournesol/tests/factories/ratings.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/tests/test_api_ratings.py
  backend/tournesol/tests/test_api_statistics.py
  backend/tournesol/tests/test_exports.py
  backend/tournesol/urls.py
  backend/tournesol/views/comparison.py
  frontend/scripts/openapi.yaml
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/pages/comparisons/ComparisonList.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/video.ts
Labels: Backend, Frontend, Core Refactor

#497 Add Badge on the expand Button when at least one filter is active
  frontend/src/components/CollapseButton.tsx
  frontend/src/features/recommendation/SearchFilter.tsx
  frontend/src/utils/constants.ts
  frontend/tsconfig.json
Labels: Frontend

#568 Implement API to fetch poll details
  backend/tournesol/models/criteria.py
  backend/tournesol/serializers.py
  backend/tournesol/tests/test_api_polls.py
  backend/tournesol/urls.py
  backend/tournesol/views/polls.py
Labels: Backend

#576 refactor: use `uid` in comparisons URL instead of `video_id`
  backend/tournesol/models/comparisons.py
  backend/tournesol/models/entity.py
  backend/tournesol/serializers.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/urls.py
  backend/tournesol/views/comparison.py
  backend/tournesol/views/exports.py
  frontend/scripts/openapi.yaml
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/comparisons/ComparisonList.tsx
  frontend/src/features/comparisons/ComparisonSliders.tsx
  frontend/src/pages/comparisons/ComparisonList.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/video.ts
Labels: Backend, Frontend, Core Refactor

#580 Update OpenAPI schema and upgrade openapi-typescript-codegen
  frontend/package.json
  frontend/scripts/openapi.yaml
  frontend/src/features/settings/account/ExportAllDataForm.tsx
  frontend/src/features/videos/VideoCard.spec.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: Frontend

#581 [back] refactor: split serializers into several files
  backend/tournesol/query_serializers.py
  backend/tournesol/serializers.py
  backend/tournesol/serializers/comparison.py
  backend/tournesol/serializers/entity.py
  backend/tournesol/serializers/poll.py
  backend/tournesol/serializers/rating.py
  backend/tournesol/serializers/stats.py
  backend/tournesol/serializers/video_rate_later.py
  backend/tournesol/views/comparison.py
  backend/tournesol/views/email_domains.py
  backend/tournesol/views/exports.py
  backend/tournesol/views/polls.py
  backend/tournesol/views/ratings.py
  backend/tournesol/views/stats.py
  backend/tournesol/views/user.py
  backend/tournesol/views/video.py
  backend/tournesol/views/video_rate_later.py
Labels: Backend

#582 [back] fix: add missing __init__.py file in tournesol/serializers
  backend/tournesol/serializers/__init__.py
Labels: Bug, Backend

#585 Implement entities API
  backend/tournesol/serializers/entity.py
  backend/tournesol/tests/test_api_entities.py
  backend/tournesol/tests/test_api_video.py
  backend/tournesol/urls.py
  backend/tournesol/views/entities.py
Labels: Backend, Core Refactor

#587 [front] fix: PUT comparison request encoding chars twice
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/pages/comparisons/ComparisonList.tsx
Labels: Bug, Frontend

#586 Fix empty metadata being rejected in Entity admin form
  backend/tournesol/migrations/0027_alter_entity_metadata.py
  backend/tournesol/models/entity.py
Labels: Backend

#595 Reject comparison when non-optional criteria is missing
  backend/tournesol/models/poll.py
  backend/tournesol/serializers/comparison.py
  backend/tournesol/tests/test_api_comparison.py
Labels: Backend, Core Refactor

#584 [front] refactor: `Comparison` now uses UIDs (and more)
  backend/tournesol/serializers/entity.py
  frontend/scripts/openapi.yaml
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/comparisons/ComparisonList.tsx
  frontend/src/features/videos/PublicStatusAction.tsx
  frontend/src/features/videos/VideoApi.tsx
  frontend/src/features/videos/VideoCard.spec.tsx
  frontend/src/features/videos/VideoCard.tsx
  frontend/src/features/videos/VideoList.tsx
  frontend/src/utils/action.tsx
  frontend/src/utils/types.ts
  frontend/src/utils/video.ts
Labels: Frontend, Core Refactor

#612 [back] fix: `EntityAdmin.update_metadata` failing because of wrong import
  backend/tournesol/admin.py
Labels: Bug, Backend

#608 Fixes Issue #401 - Migrating styling to MUI's sx prop
  frontend/src/components/CollapseButton.tsx
  frontend/src/components/LanguageSelector.tsx
  frontend/src/components/LoaderWrapper.tsx
  frontend/src/components/Pagination.tsx
  frontend/src/components/SettingsSection.tsx
  frontend/src/components/TitledSection.tsx
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/comparisons/ComparisonList.tsx
  frontend/src/features/comparisons/ComparisonSliders.tsx
  frontend/src/features/comparisons/CriteriaSlider.tsx
  frontend/src/features/frame/components/topbar/AccountInfo.tsx
  frontend/src/features/frame/components/topbar/TopBar.tsx
  frontend/src/features/ratings/RatingsFilter.tsx
  frontend/src/features/recommendation/CriteriaFilter.tsx
  frontend/src/features/recommendation/SearchFilter.tsx
  frontend/src/features/settings/account/DeleteAccountForm.tsx
  frontend/src/features/settings/account/EmailAddressForm.tsx
  frontend/src/features/video_selector/VideoSelector.tsx
  frontend/src/features/videos/PublicStatusAction.tsx
  frontend/src/features/videos/VideoCard.tsx
  frontend/src/pages/about/About.tsx
  frontend/src/pages/about/Donate.tsx
  frontend/src/pages/about/PrivacyPolicy.tsx
  frontend/src/pages/home/Home.tsx
  frontend/src/pages/rateLater/RateLater.tsx
  frontend/src/pages/settings/account/Account.tsx
  frontend/src/utils/action.tsx
Labels: Frontend

#590 Update README.md
  backend/README.md
Labels: Documentation

#611 [back] refactor: contributor ratings API now compatible with `Poll`
  backend/ml/management/commands/ml_train.py
  backend/tournesol/migrations/0028_remove_contributorrating_poll_default.py
  backend/tournesol/models/ratings.py
  backend/tournesol/serializers/rating.py
  backend/tournesol/tests/test_api_ratings.py
  backend/tournesol/urls.py
  backend/tournesol/views/mixins/__init__.py
  backend/tournesol/views/mixins/poll.py
  backend/tournesol/views/ratings.py
  frontend/scripts/openapi.yaml
  frontend/src/features/ratings/MarkAllRatings.tsx
  frontend/src/features/video_selector/VideoSelector.tsx
  frontend/src/features/videos/PublicStatusAction.tsx
  frontend/src/pages/videos/VideoRatings.tsx
Labels: Backend, Frontend, Core Refactor

#619 [back] tests: prevent `RatingApi.test_anonymous_cant_create` false positive
  backend/tournesol/tests/test_api_ratings.py
Labels: Bug, Backend

#602 Set default languages on recommendations (#455)
  frontend/src/features/recommendation/LanguageFilter.tsx
  frontend/src/features/recommendation/SearchFilter.spec.tsx
  frontend/src/features/recommendation/SearchFilter.tsx
  frontend/src/hooks/useListFilter.ts
  frontend/src/pages/videos/VideoRecommendation.spec.tsx
  frontend/src/pages/videos/VideoRecommendation.tsx
  frontend/src/utils/array.spec.ts
  frontend/src/utils/array.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/recommendationsLanguages.spec.ts
  frontend/src/utils/recommendationsLanguages.ts
Labels: Frontend
