Repository tournesol-app/tournesol, pull requests merged in 2022-08, with the labels that each got.

#1073 [back] refactor: make the rate-later API generic
  backend/core/locale/fr/LC_MESSAGES/django.po
  backend/tournesol/locale/fr/LC_MESSAGES/django.po
  backend/tournesol/serializers/rate_later.py
  backend/tournesol/tests/test_api_rate_later.py
  backend/tournesol/urls.py
  backend/tournesol/views/rate_later.py
Labels: Backend, Core Refactor

#1076 2 backend tests were failing when YOUTUBE_API_KEY was set (#1044)
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/tests/test_api_rate_later.py
Labels: Bug, Backend

#1052 [front]Fix #1050 - displayErrorForm now handle error msg datas correctly + extractVideoId works with yt:video_id
  frontend/src/features/rateLater/RateLaterAddForm.tsx
  frontend/src/hooks/useNotifications.ts
  frontend/src/utils/video.ts
Labels: Bug, Frontend

#1077 [back] fix: missing `RateLater` options' migration
  backend/tournesol/migrations/0044_alter_ratelater_options.py
  backend/tournesol/tests/test_api_rate_later.py
Labels: Bug, Backend

#1078 [back] refactor: remove the default poll of the `RateLater` model
  backend/tournesol/migrations/0045_alter_ratelater_constraints.py
  backend/tournesol/models/rate_later.py
  backend/tournesol/tests/factories/entity.py
  backend/tournesol/tests/test_model_rate_later.py
Labels: Backend, Core Refactor

#1083 [back] feat: add the vouchers API
  backend/core/locale/fr/LC_MESSAGES/django.po
  backend/tournesol/locale/fr/LC_MESSAGES/django.po
  backend/tournesol/urls.py
  backend/vouch/__init__.py
  backend/vouch/migrations/0003_alter_voucher_unique_together.py
  backend/vouch/models.py
  backend/vouch/serializers.py
  backend/vouch/tests/test_api_voucher.py
  backend/vouch/tests/test_model_voucher.py
  backend/vouch/urls.py
  backend/vouch/views.py
Labels: Backend

#1092 review: dynamic entity preview
  backend/scripts/website-preview/preview_analytics_veristasium.png
  backend/scripts/website-preview/preview_comparison_veristasium.png
  backend/scripts/website-preview/veritasium.jpeg
  backend/scripts/website-preview/website_preview.py
  backend/tournesol/views/preview.py
Labels: Backend

#1093 [twitterbot] fix: incorrect handle when twitter link has extra params
  backend/twitterbot/tests/__init__.py
  backend/twitterbot/tests/test_get_twitter_account.py
  backend/twitterbot/uploader_twitter_account.py
Labels: Backend, twitter-bot

#1081 [back] feat: dynamic previews for video analysis page
  backend/tournesol/resources/Logo64.png
  backend/tournesol/resources/Poppins-Medium.ttf
  backend/tournesol/resources/tournesol_screenshot_og.png
  backend/tournesol/tests/test_api_preview.py
  backend/tournesol/urls.py
  backend/tournesol/views/preview.py
  frontend/package.json
  frontend/public/index.html
  infra/ansible/roles/django/templates/tournesol.j2
Labels: Backend

#1088 [ext] refactor: use the generic rate later API
  browser-extension/src/manifest.json
  browser-extension/src/utils.js
Labels: Extension

#1091 [back] fix: given and received vouchers have now the same JSON
  backend/vouch/serializers.py
  backend/vouch/tests/test_api_voucher.py
  backend/vouch/views.py
Labels: Bug, Backend

#1097 [twitterbot] refactor: tweet Tournesol link instead of YT link
  backend/twitterbot/settings.py
  backend/twitterbot/tests/test_tournesolbot.py
  backend/twitterbot/tournesolbot.py
Labels: Backend, twitter-bot

#1090 [front] fix: update OpenAPI schema
  frontend/scripts/openapi.yaml
  frontend/src/pages/rateLater/RateLater.tsx
Labels: Frontend
