Repository tournesol-app/tournesol, pull requests merged in 2022-03, with the labels that each got.

#630 feat: Display language names instead of codes in EntityAdmin
  backend/tournesol/admin.py
  backend/tournesol/utils/video_language.py
Labels: Backend

#639 [back] chore: upgrade django from 4.0.2 to 4.0.3
  backend/requirements.txt
Labels: Backend

#620 Run ML on each Poll
  backend/ml/management/commands/ml_train.py
  backend/tournesol/tests/factories/poll.py
  backend/tournesol/tests/test_ml_run.py
Labels: Backend, Core Refactor

#640 Run flake8 on 'ml' and remove unused files
  backend/.flake8
  backend/ml/admin.py
  backend/ml/core.py
  backend/ml/dev/experiments.py
  backend/ml/dev/fake_data.py
  backend/ml/handle_data.py
  backend/ml/management/commands/ml_train.py
  backend/ml/metrics.py
  backend/ml/models.py
  backend/ml/tests.py
  backend/ml/views.py
Labels: Backend

#653 Fix: legacy params in comparison URL should redirect to uids
  frontend/src/features/comparisons/Comparison.tsx
  tests/cypress/integration/frontend/comparisonPage.ts
Labels: Frontend

#650 [front] feat: allow navigation between polls
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/frame/components/topbar/PollSelector.spec.tsx
  frontend/src/features/frame/components/topbar/PollSelector.tsx
  frontend/src/features/frame/components/topbar/TopBar.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/types.ts
Labels: Frontend

#645 reduce pytest's uninteresting logs
  backend/settings/settings.py
Labels: Backend

#642 Propose all languages in recommendations
  browser-extension/background.js
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/recommendation/LanguageFilter.tsx
  frontend/src/features/recommendation/SearchFilter.spec.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/recommendationsLanguages.spec.ts
  frontend/src/utils/recommendationsLanguages.ts
  frontend/yarn.lock
Labels: Backend, Frontend, Extension

#660 [front] feat: make sidebar aware of the selected poll
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/app/PollRoutes.tsx
  frontend/src/features/frame/components/sidebar/SideBar.tsx
  frontend/src/features/frame/components/topbar/PollSelector.spec.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/types.ts
Labels: Frontend, Core Refactor

#644 user-specific recommendations backend (#543)
  backend/ml/README.md
  backend/tournesol/serializers/contributor_recommendations.py
  backend/tournesol/tests/test_api_contributor_recommendations.py
  backend/tournesol/urls.py
  backend/tournesol/views/__init__.py
  backend/tournesol/views/contributor_recommendations.py
  backend/tournesol/views/polls.py
  frontend/scripts/openapi.yaml
Labels: Backend

#686 [front] feat: each poll can have its own Home page
  frontend/src/App.tsx
  frontend/src/app/PollRoutes.tsx
  frontend/src/pages/home/Home.tsx
  frontend/src/pages/home/presidentielle2022/HomePresidentielle2022.tsx
  frontend/src/pages/home/videos/ContributeSection.tsx
  frontend/src/pages/home/videos/ExtensionSection.tsx
  frontend/src/pages/home/videos/HomeVideos.tsx
Labels: Frontend

#679 [back] feat: add poll `presidentielle2022`
  backend/dev-env/settings-tournesol.yaml
  backend/documentation/settings-tournesol.yaml
  backend/settings/settings.py
  backend/tournesol/migrations/0033_add_poll_presidentielle2022.py
  backend/tournesol/tests/test_api_entities.py
  backend/tournesol/views/entities.py
  infra/ansible/inventory.yml
  infra/ansible/roles/django/templates/settings.yaml.j2
Labels: Backend

#713 [front] sec: run `yarn upgrade` to fix several audit issues
  frontend/src/features/recommendation/SearchFilter.spec.tsx
  frontend/yarn.lock
Labels: Frontend

#705 [front] feat: add translations for the `presidentielle2022` tuto
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/comparisonSeries/ComparisonSeries.tsx
  frontend/src/pages/comparisons/Comparison.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/entity.ts
  frontend/src/utils/polls/presidentielle2022.ts
  frontend/src/utils/types.ts
Labels: Frontend, Core Refactor

#727 [front] feat: polls must be configured to allow public comparisons
  frontend/src/features/entity_selector/EntitySelector.tsx
  frontend/src/features/videos/PublicStatusAction.tsx
  frontend/src/pages/videos/VideoRatings.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/types.ts
Labels: Frontend

#725 First implementation of "Mehestan" algorithm
  backend/ml/inputs.py
  backend/ml/management/commands/ml_train.py
  backend/ml/management/commands/ml_train_dev.py
  backend/ml/mehestan/global_scores.py
  backend/ml/mehestan/individual.py
  backend/ml/mehestan/primitives.py
  backend/ml/mehestan/run.py
  backend/ml/ml_requirements.txt
Labels: Backend
