Repository tournesol-app/tournesol, pull requests merged in 2022-05, with the labels that each got.

#801 [back] feat: Distribution of Criteria Score on an Entity
  backend/tournesol/models/entity.py
  backend/tournesol/serializers/entity.py
  backend/tournesol/tests/test_api_polls.py
  backend/tournesol/urls.py
  backend/tournesol/views/polls.py
Labels: Backend

#860 [front] Switch Criteria Filter Mode: multiple or single criteria (#843)
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/criteria/CriteriaSelector.tsx
  frontend/src/features/recommendation/CriteriaFilter.tsx
  frontend/src/features/recommendation/SearchFilter.spec.tsx
  tests/cypress/integration/frontend/recommendationsPage.ts
Labels: Frontend

#869 Implement 3 different `score_mode` for poll recommendations computed by Mehestan
  backend/ml/mehestan/global_scores.py
  backend/ml/mehestan/run.py
  backend/ml/outputs.py
  backend/tournesol/admin.py
  backend/tournesol/migrations/0038_alter_entitycriteriascore_unique_together_and_more.py
  backend/tournesol/models/entity.py
  backend/tournesol/models/entity_score.py
  backend/tournesol/serializers/entity.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/tests/test_api_polls.py
  backend/tournesol/tests/test_ml_run.py
  backend/tournesol/views/entities.py
  backend/tournesol/views/polls.py
  backend/tournesol/views/unconnected_entities.py
  backend/tournesol/views/video.py
  backend/twitterbot/tournesolbot.py
Labels: Backend

#874 Add load_tweetinfo management command
  backend/twitterbot/management/commands/load_tweetinfo.py
Labels: Backend, twitter-bot

#873 fix: Safe recommendations filter on tournesol_score instead of total_score
  backend/tournesol/tests/test_api_contributor_recommendations.py
  backend/tournesol/tests/test_api_polls.py
  backend/tournesol/tests/test_api_video.py
  backend/tournesol/views/contributor_recommendations.py
  backend/tournesol/views/polls.py
  backend/tournesol/views/video.py
  tests/cypress/integration/frontend/recommendationsPage.ts
Labels: Backend

#877 `active` status for Poll
  backend/core/locale/fr/LC_MESSAGES/django.po
  backend/ml/management/commands/ml_train.py
  backend/tournesol/admin.py
  backend/tournesol/locale/fr/LC_MESSAGES/django.po
  backend/tournesol/migrations/0039_poll_active.py
  backend/tournesol/models/poll.py
  backend/tournesol/serializers/poll.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/tests/test_api_polls.py
  backend/tournesol/views/comparison.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/scripts/openapi.yaml
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/comparisons/ComparisonSliders.tsx
  frontend/src/hooks/useCurrentPoll.tsx
  frontend/src/pages/comparisons/Comparison.tsx
Labels: Backend

#864 [front] refactor: make `EntityList` able to display any kind of entity
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/CriteriaBarChart.tsx
  frontend/src/components/CriteriaIcon.tsx
  frontend/src/components/CriteriaRadarChart.tsx
  frontend/src/components/entity/EntityCard.tsx
  frontend/src/components/entity/EntityCardScores.tsx
  frontend/src/features/entities/EntityList.tsx
  frontend/src/features/frame/components/sidebar/SideBar.tsx
  frontend/src/features/frame/components/topbar/PollSelector.spec.tsx
  frontend/src/features/recommendation/SearchFilter.tsx
  frontend/src/pages/recommendations/RecommendationPage.spec.tsx
  frontend/src/pages/recommendations/RecommendationPage.tsx
  frontend/src/utils/action.tsx
  frontend/src/utils/constants.tsx
  frontend/src/utils/types.ts
Labels: Frontend

#879 [front] style: set background to light grey instead of white
  frontend/src/features/frame/Frame.tsx
  frontend/src/index.css
Labels: Frontend, UX

#815 part 1/2 : score inconsistencies (next: cyclic inconsistencies) (#671)
  backend/core/utils/constants.py
  backend/settings/settings.py
  backend/tournesol/models/comparisons.py
  backend/tournesol/serializers/inconsistencies.py
  backend/tournesol/tests/test_api_inconsistencies.py
  backend/tournesol/urls.py
  backend/tournesol/views/inconsistencies.py
Labels: Backend

#890 [front] feat: add the candidate analysis page
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/App.tsx
  frontend/src/app/PollRoutes.tsx
  frontend/src/pages/entities/CandidateAnalysisPage.tsx
  frontend/src/pages/entities/EntityAnalysisPage.tsx
  frontend/src/pages/videos/VideoAnalysisPage.tsx
  frontend/src/utils/action.tsx
  frontend/src/utils/constants.tsx
  frontend/src/utils/types.ts
Labels: Frontend

#901 fix: scaling does not break clipping
  frontend/src/components/CriteriaBarChart.tsx
Labels: Bug

#885 Propose Tutorial for video pages (#844)
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/pages/comparisons/Comparison.tsx
  frontend/src/pages/home/videos/HomeVideos.tsx
  frontend/src/utils/constants.tsx
  frontend/src/utils/polls/videos.ts
  frontend/src/utils/types.ts
Labels: Frontend

#905 [Front] Add compare button and rate-later button on VideoAnalysis page
  frontend/src/pages/videos/VideoAnalysisPage.tsx
Labels: Frontend

#906 [Front] Add VideoAnalysis button to the rate-later video page
  frontend/src/pages/rateLater/RateLater.tsx
Labels: Frontend

#828 Add checkbox to display personal criteria scores
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/CriteriaBarChart.tsx
  frontend/src/components/CriteriaRadarChart.tsx
  frontend/src/components/PersonalScoreCheckbox.tsx
  frontend/src/hooks/useCriteriaChartData.ts
  frontend/src/hooks/usePersonalCriteriaScores.tsx
  frontend/src/pages/videos/VideoAnalysisPage.tsx
Labels: Frontend

#914 [github] Add funding links on Github
  .github/FUNDING.yml
Labels: Meta

#907 [front] refactor: sync' the style of candidate & video analysis page
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/entity/style.ts
  frontend/src/pages/entities/CandidateAnalysisPage.tsx
  frontend/src/pages/videos/VideoAnalysisPage.tsx
Labels: Frontend

#702 Modification for Twitterbot deployement
  backend/twitterbot/management/commands/run_twitterbot.py
  infra/ansible/roles/django/templates/settings.yaml.j2
  infra/ansible/scripts/deploy-without-secrets.sh
  infra/ansible/scripts/forget-secrets.sh
  infra/ansible/scripts/get-vm-secrets.sh
Labels: Infra, twitter-bot

#923 [front] feat: candidates' avatars are clickable on recommendations
  frontend/src/components/entity/EntityImagery.tsx
Labels: Frontend

#922 [meta] chore: mention direct transfers in `FUNDING.yml`
  .github/FUNDING.yml
Labels: Meta

#929 Fix twitter bot small bug
  backend/twitterbot/management/commands/run_twitterbot.py
  backend/twitterbot/tournesolbot.py
Labels: twitter-bot

#927 Display stats from current poll only
  backend/tournesol/serializers/stats.py
  backend/tournesol/tests/test_api_statistics.py
  backend/tournesol/views/stats.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/scripts/openapi.yaml
  frontend/src/features/statistics/UsageStatsSection.tsx
  frontend/src/pages/about/PublicDownloadSection.tsx
Labels: Backend, Frontend

#940 [front] feat: entities' titles are now clickable
  frontend/src/components/entity/EntityCard.tsx
  frontend/src/components/entity/EntityCardTitle.tsx
  frontend/src/features/videos/VideoCard.tsx
  frontend/src/pages/entities/CandidateAnalysisPage.tsx
Labels: Frontend, UX

#926 [back] fix: reset password now uses non-case-sensitive emails
  backend/core/tests/test_api_accounts.py
  backend/core/utils/rest_registration/users.py
  backend/settings/settings.py
Labels: Bug, Backend

#941 [back] docs: make the YT API key setup more explicit
  backend/README.md
Labels: Backend, Documentation

#945 [analytics] Update Steamlit to version 1.9.0
  analytics/requirements.txt
Labels: Analytics

#946 [back] docs: rework the YT API key installation procedure
  backend/README.md
Labels: Backend, Documentation

#913 #530 Video recommandation path in extension
  browser-extension/src/addTournesolRecommendations.js
  browser-extension/src/background.js
  browser-extension/src/manifest.json
Labels: Extension

#947 Twitterbot bug fix and improvements
  backend/twitterbot/admin.py
  backend/twitterbot/management/commands/run_twitterbot.py
  backend/twitterbot/settings.py
  backend/twitterbot/tests/test_tournesolbot.py
  backend/twitterbot/tournesolbot.py
Labels: twitter-bot

#952 [twitterbot] Avoid to tweet something when ask for list of videos
  backend/twitterbot/management/commands/run_twitterbot.py
Labels: twitter-bot

#871 [back] feat: add the `Voucher` model
  backend/core/migrations/0008_user_trust_score_alter_user_bio.py
  backend/core/models/user.py
  backend/settings/settings.py
  backend/vouch/migrations/0001_initial.py
  backend/vouch/migrations/__init__.py
  backend/vouch/models.py
  backend/vouch/tests/__init__.py
  backend/vouch/tests/test_model_voucher.py
Labels: Backend

#942 [front] refactor: display thumbnails in lists instead of video players
  frontend/src/components/entity/EntityCard.tsx
  frontend/src/components/entity/EntityImagery.tsx
  frontend/src/features/comparisons/ComparisonList.tsx
  frontend/src/features/entities/EntityList.tsx
  frontend/src/features/videos/VideoCard.tsx
  frontend/src/features/videos/VideoList.tsx
  frontend/src/index.css
Labels: Frontend

#959 [front] fix: duration not displayed on videos' thumbnails
  frontend/src/components/entity/EntityImagery.tsx
  frontend/src/features/videos/VideoCard.tsx
Labels: Bug, Frontend

#948 [front] feat: add video description from YT on analysis page
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/pages/videos/VideoAnalysisPage.tsx
  frontend/yarn.lock
Labels: Frontend

#960 [front] refactor: hide the non-required `AnalysisPageLink`
  frontend/src/features/videos/VideoList.tsx
  frontend/src/utils/constants.tsx
Labels: Frontend, UX

#961 [front] fix: do not interpret HTML tags from YT videos description
  frontend/package.json
  frontend/src/pages/videos/VideoAnalysisPage.tsx
  frontend/yarn.lock
Labels: Bug, Frontend
