Repository tournesol-app/tournesol, pull requests merged in 2022-04, with the labels that each got.

#746 Fix nb of comparisons not being updated during comparison series
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/entity_selector/EntitySelector.tsx
Labels: Frontend

#748 Remove step labels on comparison series
  frontend/src/features/comparisonSeries/ComparisonSeries.tsx
Labels: Frontend

#747 [front] chore: update OpenAPI schema
  frontend/scripts/openapi.yaml
Labels: Frontend

#754 correlations: catch ValueError when linear regression is undefined
  backend/tournesol/tests/test_api_criteria_correlation.py
  backend/tournesol/views/criteria_correlations.py
  frontend/scripts/openapi.yaml
Labels: Backend

#757 [front] feat: add `StackedCriteriaPaper` component (very beautiful)
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/StackedCard.tsx
  frontend/src/features/feedback/StackedCandidatesPaper.tsx
  frontend/src/features/feedback/StackedCriteriaPaper.tsx
  frontend/src/pages/personal/feedback/FeedbackPagePresidentielle2022.tsx
Labels: Frontend

#786 [front] fix: usage of `publiques` instead of `publics` in FR translations
  frontend/public/locales/fr/translation.json
Labels: Frontend

#788 [front] feat: the results page invite users to check Tournesol videos
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/polls/PollLargeButton.tsx
  frontend/src/features/polls/PollList.tsx
  frontend/src/pages/personal/feedback/FeedbackPagePresidentielle2022.tsx
Labels: Frontend, UX

#790 [front] fix: prevent comparison to be submitted several times in row
  frontend/src/features/comparisons/ComparisonSliders.tsx
Labels: Bug, Frontend

#796 [back] feat: display the nbr of users for each email domain in admin
  backend/core/admin.py
Labels: Backend

#800 All paginations at the bottom of their pages
  frontend/src/components/Pagination.tsx
  frontend/src/pages/comparisons/ComparisonList.tsx
  frontend/src/pages/rateLater/RateLater.tsx
  frontend/src/pages/videos/VideoRatings.tsx
  frontend/src/pages/videos/VideoRecommendation.tsx
Labels: Frontend

#732 Personal recommendations page
  backend/tournesol/serializers/poll.py
  backend/tournesol/tests/test_api_polls.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/scripts/openapi.yaml
  frontend/src/features/ratings/RatingsFilter.tsx
  frontend/src/features/videos/VideoCard.tsx
  frontend/src/features/videos/VideoList.tsx
  frontend/src/pages/videos/VideoRatings.tsx
Labels: Backend, Frontend

#799 [back] feat: add a mgmt cmd to delete inactive users
  backend/core/management/__init__.py
  backend/core/management/commands/__init__.py
  backend/core/management/commands/delete_inactive_users.py
  backend/core/tests/management/__init__.py
  backend/core/tests/management/test_delete_inactive_users.py
  backend/settings/settings.py
  infra/ansible/inventory.yml
  infra/ansible/roles/django/tasks/main.yml
  infra/ansible/roles/django/templates/discord-tournesolapi-deleteinactiveusers-fail-alert.sh.j2
  infra/ansible/roles/django/templates/tournesol-api-delete-inactive-users.service.j2
  infra/ansible/roles/django/templates/tournesol-api-delete-inactive-users.timer.j2
Labels: Backend, Infra

#826 [back] Improve user field in admin
  backend/core/admin.py
Labels: Backend

#814 [front] Improve uploaded date filter
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/recommendation/RecommendationApi.tsx
Labels: Frontend

#816 [front] add comparison count
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/pages/comparisons/ComparisonList.tsx
Labels: Frontend

#822 [back] refactor: gather tests related to the accounts API
  backend/core/tests/test_api_accounts.py
  backend/core/tests/test_reset_password.py
Labels: Backend

#827 [front] feat: Link to analysis page on VideoCard (#824)
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/videos/VideoList.tsx
  frontend/src/utils/action.tsx
Labels: Frontend

#834 [back] feat: allow case insensitive login with email
  backend/core/oauth_validator.py
  tests/cypress/integration/frontend/login.ts
Labels: Backend

#663 API for non connected entities
  backend/tournesol/tests/test_api_unconnected_entities.py
  backend/tournesol/urls.py
  backend/tournesol/views/unconnected_entities.py
Labels: Backend

#838 [front] refactor: reco. page uses polls API instead of the legacy video
  frontend/src/app/PollRoutes.tsx
  frontend/src/features/recommendation/RecommendationApi.tsx
  frontend/src/pages/recommendations/RecommendationPage.spec.tsx
  frontend/src/pages/recommendations/RecommendationPage.tsx
  frontend/src/utils/entity.ts
Labels: Frontend

#859 [front] refactor: add an `EntityList` component (2/3)
  frontend/src/features/entities/EntityList.tsx
  frontend/src/features/recommendation/RecommendationApi.tsx
  frontend/src/pages/recommendations/RecommendationPage.spec.tsx
  frontend/src/pages/recommendations/RecommendationPage.tsx
  frontend/src/pages/videos/VideoRatings.tsx
  frontend/src/utils/entity.ts
Labels: Frontend

#862 [front] fix: recommendations page not displaying anything...
  frontend/src/features/recommendation/RecommendationApi.tsx
Labels: Bug, Frontend
