Repository tournesol-app/tournesol, pull requests merged in 2022-07, with the labels that each got.

#1018 [back] perf: small fixes in the suggestion algorithm
  backend/tournesol/suggestions/graph.py
  backend/tournesol/suggestions/suggested_user_video.py
  backend/tournesol/suggestions/suggested_video.py
  backend/tournesol/tests/test_suggestions.py
Labels: Backend

#1032 mehestan: Disable individual scores update on comparison submission
  backend/settings/settings.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/views/comparison.py
Labels: Backend

#1004 [front] feat: make `RecommendationPage` able to display personal reco.
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/app/PollRoutes.tsx
  frontend/src/components/ContentHeader.tsx
  frontend/src/features/entity_selector/EntityInput.tsx
  frontend/src/features/frame/components/sidebar/SideBar.tsx
  frontend/src/features/frame/components/topbar/PersonalMenu.tsx
  frontend/src/features/ratings/RatingsFilter.tsx
  frontend/src/features/recommendation/ScoreModeFilter.tsx
  frontend/src/features/recommendation/SearchFilter.tsx
  frontend/src/pages/recommendations/RecommendationPage.spec.tsx
  frontend/src/pages/recommendations/RecommendationPage.tsx
  frontend/src/pages/videos/VideoRatings.tsx
  frontend/src/utils/api/comparisons.ts
  frontend/src/utils/api/recommendations.tsx
  frontend/src/utils/constants.tsx
  frontend/src/utils/types.ts
  tests/cypress/integration/frontend/publicPersonalRecommendationsPage.ts
  tests/cypress/integration/frontend/recommendationsPage.ts
Labels: Frontend

#1037 [back] refactor: include collective `n_comparisons` and `n_contributors`...
  backend/tournesol/serializers/contributor_recommendations.py
  backend/tournesol/tests/test_api_contributor_recommendations.py
Labels: Bug, Backend

#1040 [back] feat: unconnected entities are now ordered by n_comparisons
  backend/tournesol/tests/test_api_unconnected_entities.py
  backend/tournesol/views/unconnected_entities.py
Labels: Backend

#1029 [front] fix: prevent `DurationFilter` infinite rendering
  frontend/src/features/recommendation/DurationFilter.tsx
  frontend/src/features/recommendation/SearchFilter.spec.tsx
  frontend/src/features/recommendation/SearchFilter.tsx
Labels: Bug, Frontend

#1038 [back][ml] Fix raw scores mehestan
  backend/ml/mehestan/global_scores.py
  backend/ml/mehestan/individual.py
  backend/ml/mehestan/run.py
Labels: Backend

#1033 [front] feat: analysis URLs are now accepted by the entity selector
  frontend/src/utils/video.ts
Labels: Frontend

#1047 [front] feat: `videos` tuto accessible on Home
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/pages/home/presidentielle2022/HomePresidentielle2022.tsx
  frontend/src/pages/home/videos/HomeVideos.tsx
  frontend/src/utils/constants.tsx
  tests/cypress/integration/frontend/home.ts
Labels: Frontend

#1034 [back] refactor: rename few vouch fields
  backend/core/migrations/0009_trust_score_isnow_voting_right.py
  backend/core/models/user.py
  backend/vouch/migrations/0002_trust_value_isnow_value.py
  backend/vouch/models.py
  backend/vouch/tests/test_model_voucher.py
  backend/vouch/tests/test_trust_algo.py
  backend/vouch/trust_algo.py
Labels: Backend

#1057 [front] feat: add copy to clipboard action on the reco. pages
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/buttons/CopyToClipboardButton.tsx
  frontend/src/features/menus/ShareMenu.tsx
  frontend/src/features/menus/ShareMenuButton.tsx
  frontend/src/pages/recommendations/RecommendationPage.tsx
  frontend/src/pages/videos/VideoAnalysisPage.tsx
Labels: Frontend, UX

#1063 [back] fix: incorrect pretrust scores and performance of vouch algo
  backend/vouch/tests/test_trust_algo.py
  backend/vouch/trust_algo.py
Labels: Bug, Backend

#1069 [front] fix: misleading "Active users" metric name
  backend/tournesol/views/stats.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/statistics/UsageStatsSection.tsx
Labels: Frontend

#1055 [back] refactor: make the `RateLater` model generic
  backend/tournesol/migrations/0043_make_ratelater_generic.py
  backend/tournesol/models/entity.py
  backend/tournesol/models/rate_later.py
  backend/tournesol/serializers/rate_later.py
  backend/tournesol/tests/factories/entity.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/tests/test_api_rate_later.py
  backend/tournesol/views/comparison.py
  backend/tournesol/views/rate_later.py
Labels: Backend, Core Refactor
