Repository tournesol-app/tournesol, pull requests merged in 2022-06, with the labels that each got.

#962 [back] perf: make the `get_top_public_contributors` faster
  backend/tournesol/tests/test_utils_contributors.py
  backend/tournesol/utils/contributors.py
Labels: Backend, twitter-bot

#956 [back] feat: get top contributors from the previous month
  backend/tournesol/tests/test_utils_contributors.py
  backend/tournesol/utils/contributors.py
Labels: Backend, twitter-bot

#912 [back] feat: rework the metadata filter API
  backend/tournesol/entities/base.py
  backend/tournesol/tests/test_api_polls.py
  backend/tournesol/views/polls.py
Labels: Backend

#924 Video suggestions for comparisons
  backend/tournesol/suggestions/graph.py
  backend/tournesol/suggestions/suggested_user.py
  backend/tournesol/suggestions/suggested_user_video.py
  backend/tournesol/suggestions/suggested_video.py
  backend/tournesol/suggestions/suggester_store.py
  backend/tournesol/suggestions/suggestionprovider.py
  backend/tournesol/tests/factories/entity_score.py
  backend/tournesol/tests/factories/scaling.py
  backend/tournesol/tests/test_suggestions.py
  backend/tournesol/urls.py
  backend/tournesol/views/entities_to_compare.py
Labels: Backend

#965 [analitics] Streamlit v1.10.0 - multipage
  analytics/Tournesol_analytics.py
  analytics/analytics.py
  analytics/pages/01_public_dataset.py
  analytics/pages/02_tournesol_scores.py
  analytics/requirements.txt
Labels: Analytics

#966 Selectable criterion on bar chart
  frontend/src/components/CriteriaBarChart.tsx
  frontend/src/features/charts/CriteriaScoresDistribution.tsx
  frontend/src/hooks/useCriteriaChartData.ts
  frontend/src/hooks/useSelectedCriterion.tsx
  frontend/src/pages/videos/VideoAnalysisPage.tsx
  frontend/src/utils/criteria.ts
Labels: Frontend, UX

#954 [back] feat: automatically remove videos from rate later list
  backend/tournesol/models/entity.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/tests/test_api_video_rate_later.py
  backend/tournesol/views/comparison.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
Labels: Backend, Frontend

#855 Implement `EntityTabsBox` to use in video selector and analysis page
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/entity/EntityCard.tsx
  frontend/src/components/entity/EntityCardScores.tsx
  frontend/src/components/entity/EntityCardTitle.tsx
  frontend/src/components/entity/EntityImagery.tsx
  frontend/src/components/entity/EntityMetadata.tsx
  frontend/src/components/entity/style.ts
  frontend/src/features/entity_selector/EntityTabsBox.tsx
  frontend/src/features/videos/VideoCard.tsx
Labels: Frontend

#955 criteria descriptions simplifications
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
Labels: Frontend, Meta

#972 [front] chore: update OpenAPI schema
  frontend/scripts/openapi.yaml
Labels: Frontend

#973 [ext] refactor: use the new `/entities/` URL instead of `/video/`
  browser-extension/src/addVideoStatistics.js
  browser-extension/src/browserAction/menu.js
  browser-extension/src/manifest.json
Labels: Extension

#970 [back] fix: server error on `entities_to_compare`
  backend/tournesol/suggestions/suggested_user_video.py
  backend/tournesol/suggestions/suggestionprovider.py
  backend/tournesol/tests/test_suggestions.py
Labels: Bug, Backend

#977 [twitterbot] fix unwanted link in video title
  backend/twitterbot/tests/test_tournesolbot.py
  backend/twitterbot/tournesolbot.py
Labels: twitter-bot

#886 inconsistencies part 2/2 : cyclic inconsistencies (#671)
  backend/tournesol/serializers/inconsistencies.py
  backend/tournesol/tests/test_api_contributor_recommendations.py
  backend/tournesol/tests/test_api_inconsistencies.py
  backend/tournesol/urls.py
  backend/tournesol/views/inconsistencies.py
  frontend/scripts/openapi.yaml
Labels: Backend

#978 [back] fix: entities_to_compare fails after a new video is compared by a supertrusted
  backend/tournesol/suggestions/suggestionprovider.py
  backend/tournesol/tests/test_suggestions.py
Labels: Backend

#957 [e2e] tests: ensure entities' thumbnails & title are clickable
  frontend/src/components/entity/EntityImagery.tsx
  frontend/src/features/videos/VideoCard.tsx
  tests/cypress/integration/frontend/myRatedVideosPage.spec.ts
  tests/cypress/integration/frontend/rateLaterPage.ts
  tests/cypress/integration/frontend/recommendationsPage.ts
Labels: Frontend, Frontend: tests

#986 [back ]refactor: `VideoRateLater` is now `RateLater`
  backend/tournesol/migrations/0041_rename_videoratelater_ratelater.py
  backend/tournesol/models/__init__.py
  backend/tournesol/models/entity.py
  backend/tournesol/models/rate_later.py
  backend/tournesol/serializers/rate_later.py
  backend/tournesol/tests/factories/entity.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/tests/test_api_rate_later.py
  backend/tournesol/urls.py
  backend/tournesol/views/__init__.py
  backend/tournesol/views/rate_later.py
  frontend/scripts/openapi.yaml
  frontend/src/pages/rateLater/RateLater.tsx
  tests/cypress/integration/frontend/rateLaterPage.ts
Labels: Backend, Core Refactor

#990 [front] fix: disable the suggestions tab, during perf investigations
  frontend/src/features/entity_selector/EntityInput.tsx
Labels: Bug, Frontend

#991 [front] fix: ignore request results after moving to another tab in EntityTabsBox
  frontend/src/features/entity_selector/EntityTabsBox.tsx
Labels: Bug, Frontend

#994 [back] fix: `validate_meta_filter_field` now raises an HTTP 400 error
  backend/tournesol/entities/base.py
  backend/tournesol/tests/test_api_polls.py
Labels: Bug, Backend

#996 [back] perf: speedup `ExportPublicComparisonsView` with raw SQL
  backend/tournesol/lib/__init__.py
  backend/tournesol/lib/public_dataset.py
  backend/tournesol/views/exports.py
Labels: Backend

#995 [all] chore: add copyright notices and license disclaimers
  LICENSE.md
  README.md
  analytics/README.md
  backend/README.md
  browser-extension/README.md
  frontend/README.md
  infra/README.md
Labels: Meta

#872 [backend] Modified eigentrust algo added
  backend/vouch/tests/test_trust_algo.py
  backend/vouch/trust_algo.py
Labels: Backend

#999 [front] feat: add a top-right menu
  frontend/src/features/frame/components/topbar/AccountInfo.tsx
  frontend/src/features/frame/components/topbar/PersonalMenu.tsx
  frontend/src/features/settings/SettingsMenu.tsx
  frontend/src/utils/menus.tsx
  tests/cypress/integration/frontend/login.ts
  tests/cypress/integration/frontend/resetPassword.ts
  tests/cypress/integration/frontend/settingsAccountPage.spec.ts
  tests/cypress/integration/frontend/settingsProfilePage.spec.ts
Labels: Frontend

#1002 [ext] fix: the LICENSE file was in a sub-folder
  browser-extension/LICENSE
  browser-extension/build.sh
  browser-extension/package.json
Labels: Bug, Extension

#1014 Change picture
  frontend/public/people/Aidan.jpg
Labels: Frontend

#1006 Contextual recommendations on video analysis page
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/entity/EntityCard.tsx
  frontend/src/features/entity_selector/EntityInput.tsx
  frontend/src/features/entity_selector/EntityTabsBox.tsx
  frontend/src/features/recommendation/ContextualRecommendations.tsx
  frontend/src/pages/videos/VideoAnalysisPage.tsx
Labels: Frontend, UX

#1017 [front] fix: flex layout on analysis page not good on mobile
  frontend/src/pages/videos/VideoAnalysisPage.tsx
Labels: Bug, Frontend

#1019 [front] feat: add a copy URI button on the analysis page
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/buttons/CopyToClipboardButton.tsx
  frontend/src/pages/videos/VideoAnalysisPage.tsx
Labels: Frontend, UX

#1009 [analytics] chore: bump `numpy` from v1.22.0 to v1.22.4
  analytics/requirements.txt
Labels: Analytics

#1015 [back] fix: vouching made more human-readable
  backend/vouch/tests/test_trust_algo.py
  backend/vouch/trust_algo.py
Labels: Backend
