Repository tournesol-app/tournesol, pull requests merged in 2022-10, with the labels that each got.

#1145 [all] docs: rework CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Documentation

#1141 [front] feat: display the FAQ
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/App.tsx
  frontend/src/features/frame/components/sidebar/SideBar.tsx
  frontend/src/pages/faq/FAQ.tsx
  frontend/src/pages/faq/FAQEntryList.tsx
  frontend/src/pages/faq/FAQTableOfContent.tsx
  frontend/src/utils/types.ts
Labels: Frontend

#1153 [front] sec: update `recharts` and its vulnerable dep `d3-color`
  frontend/src/features/charts/CriteriaScoresDistribution.tsx
  frontend/yarn.lock
Labels: Frontend, Security

#1162 [back] sec: upgrade django to 4.0.8 (from 4.0.7)
  backend/requirements.txt
Labels: Backend, Security

#1163 [ext] add tournesol.app link to clickable tournesol logo
  browser-extension/src/browserAction/menu.html
  browser-extension/src/browserAction/menu.js
  browser-extension/src/manifest.json
Labels: Extension

#1147 [back] feat: add enable/disable actions in the `faq` admin
  backend/core/locale/fr/LC_MESSAGES/django.po
  backend/faq/admin.py
  backend/faq/models.py
  backend/tournesol/locale/fr/LC_MESSAGES/django.po
Labels: Backend

#1169 [all] chore: make the `README.md` intro more friendly
  README.md
Labels: Meta

#1165 [front] feat: better contrast between text and bg in the FAQ page
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/pages/faq/FAQEntryList.tsx
  frontend/src/pages/faq/FAQTableOfContent.tsx
  frontend/src/utils/notifications.ts
Labels: Frontend, UX

#1172 [front] fix: FAQ anchors badly formatted
  frontend/src/pages/faq/FAQ.tsx
  frontend/src/pages/faq/FAQEntryList.tsx
Labels: Bug, Frontend

#1173 [ext] fix: missing doctype
  browser-extension/src/html/tournesol-iframe.html
  browser-extension/src/manifest.json
Labels: Extension

#1170 [back] feat: add the `order_by` parameter to the ratings API
  backend/tournesol/serializers/rating.py
  backend/tournesol/tests/test_api_ratings.py
  backend/tournesol/views/ratings.py
  frontend/scripts/openapi.yaml
Labels: Backend, hacktoberfest-accepted

#1177 [back] fix: enable the previously disabled cache for the entity preview
  backend/tournesol/utils/cache.py
  backend/tournesol/views/preview.py
Labels: Backend

#1180 [back] feat: ratings are now order-able by some entity metadata fields
  backend/tournesol/entities/base.py
  backend/tournesol/entities/video.py
  backend/tournesol/tests/test_api_ratings.py
  backend/tournesol/views/ratings.py
Labels: Backend

#1142 [front] feat: add a footer
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/ContentBox.tsx
  frontend/src/components/ContentHeader.tsx
  frontend/src/features/frame/Frame.tsx
  frontend/src/features/frame/components/footer/Footer.tsx
  frontend/src/features/frame/components/footer/FooterSection.tsx
  frontend/src/features/frame/components/sidebar/Footer.tsx
  frontend/src/features/frame/components/sidebar/SideBar.tsx
  frontend/src/features/frame/components/topbar/TopBar.tsx
  frontend/src/pages/about/About.tsx
  frontend/src/pages/about/Donate.tsx
  frontend/src/pages/comparisons/Comparison.tsx
  frontend/src/pages/home/AlternatingBackgroundColorSectionList.tsx
  frontend/src/pages/settings/account/Account.tsx
  frontend/src/pages/settings/layout.ts
  frontend/src/pages/settings/profile/Profile.tsx
  frontend/src/utils/url.ts
Labels: Frontend, UX

#1183 [front] refactor: delete the `ContributeSection` from the videos home
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/pages/home/AlternatingBackgroundColorSectionList.tsx
  frontend/src/pages/home/videos/ComparisonSection.tsx
  frontend/src/pages/home/videos/HomeVideos.tsx
  frontend/src/theme.ts
Labels: Frontend

#1179 [back] refactor: `voting_right` is now `trust_score`
  backend/core/admin.py
  backend/core/migrations/0011_user_votingright_isnow_trustscore.py
  backend/core/models/user.py
  backend/faq/migrations/0004_alter_faqentry_options.py
  backend/tournesol/lib/public_dataset.py
  backend/tournesol/tests/test_exports.py
  backend/tournesol/views/exports.py
  backend/vouch/tests/test_trust_algo.py
  backend/vouch/trust_algo.py
Labels: Backend
