Repository tournesol-app/tournesol, pull requests merged in 2022-09, with the labels that each got.

#1106 [front] fix: `<strong>` text not properly displayed on `HomePage`
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/yarn.lock
Labels: Bug, Frontend

#1075 [back] feat: add the new model `EntityPollRating` (#631)
  backend/tournesol/migrations/0047_entitypollrating.py
  backend/tournesol/models/__init__.py
  backend/tournesol/models/entity_poll_rating.py
  backend/tournesol/views/comparison.py
Labels: Backend

#1109 [tests] fix: give more time to load YT pages.
  tests/cypress/integration/browser-extension/extension.spec.ts
Labels: Bug

#979 Uniformization of messages publication on discord
  backend/core/lib/__init__.py
  backend/core/lib/discord/api.py
  backend/core/management/commands/send_on_discord.py
  backend/settings/settings.py
  backend/twitterbot/settings.py
  backend/twitterbot/tournesolbot.py
  infra/ansible/roles/backups/tasks/main.yml
  infra/ansible/roles/backups/templates/discord-export-backups-fail-alert.sh.j2
  infra/ansible/roles/backups/templates/export-backups.service.j2
  infra/ansible/roles/django/handlers/main.yml
  infra/ansible/roles/django/tasks/main.yml
  infra/ansible/roles/django/templates/discord-ml-fail-alert.sh.j2
  infra/ansible/roles/django/templates/discord-tournesolapi-cleartokens-fail-alert.sh.j2
  infra/ansible/roles/django/templates/discord-tournesolapi-deleteinactiveusers-fail-alert.sh.j2
  infra/ansible/roles/django/templates/discord-twitterbot-fail-alert.sh.j2
  infra/ansible/roles/django/templates/ml-train.service.j2
  infra/ansible/roles/django/templates/post-on-discord.sh.j2
  infra/ansible/roles/django/templates/settings.yaml.j2
  infra/ansible/roles/django/templates/tournesol-api-cleartokens.service.j2
  infra/ansible/roles/django/templates/tournesol-api-delete-inactive-users.service.j2
  infra/ansible/roles/django/templates/tournesol-twitterbot.service.j2
  infra/ansible/roles/frontend/handlers/main.yml
  infra/ansible/roles/monitoring/tasks/main.yml
  infra/ansible/roles/monitoring/templates/discord_alerting_webhook.j2
  infra/ansible/roles/monitoring/templates/external-urls-monitoring.sh.j2
  infra/ansible/roles/postgresql/tasks/main.yml
  infra/ansible/roles/postgresql/templates/discord-postgres-backup-fail-alert.sh.j2
  infra/ansible/roles/postgresql/templates/pg-backups.service.j2
  infra/ansible/scripts/deploy-without-secrets.sh
  infra/ansible/scripts/forget-secrets.sh
  infra/ansible/scripts/get-vm-secrets.sh
Labels: Backend, Infra

#1110 [front] fix: more involving tutorial messages
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
Labels: Frontend

#1096 [back] refactor: factorize common behaviour between preview `APIView`s
  backend/tournesol/urls.py
  backend/tournesol/views/preview.py
Labels: Backend

#1098 [front] refactor: use the new rate-later API
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/rateLater/rateLaterAPI.ts
  frontend/src/pages/rateLater/RateLater.tsx
  frontend/src/utils/action.tsx
  frontend/src/utils/api/rateLaters.ts
  frontend/src/utils/video.ts
Labels: Frontend, Core Refactor

#1115 [back] tests: test the model `EntityPollRating`
  backend/tournesol/models/entity_poll_rating.py
  backend/tournesol/tests/test_model_entity_poll_rating.py
Labels: Backend

#1119 [front] chore: update `@mui/material` to 5.10.x
  frontend/package.json
  frontend/yarn.lock
Labels: Frontend

#1116 [front] feat: add the vouching UI
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/App.tsx
  frontend/src/features/frame/components/topbar/PersonalMenu.tsx
  frontend/src/pages/personal/vouchers/CreateVoucherForm.tsx
  frontend/src/pages/personal/vouchers/GivenVouchers.tsx
  frontend/src/pages/personal/vouchers/ReceivedVouchers.tsx
  frontend/src/pages/personal/vouchers/VouchersPage.spec.tsx
  frontend/src/pages/personal/vouchers/VouchersPage.tsx
  frontend/src/pages/personal/vouchers/context.tsx
Labels: Frontend

#1123 [back] feat: add the admin UI for the `vouch` app
  backend/vouch/admin.py
Labels: Backend

#1114 [back] refactor: delete the legacy rate-later API
  backend/tournesol/serializers/rate_later.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/tests/test_api_rate_later.py
  backend/tournesol/urls.py
  backend/tournesol/views/rate_later.py
  frontend/scripts/openapi.yaml
  frontend/src/features/entity_selector/EntityInput.tsx
Labels: Backend, Frontend

#1105 [back] feat: create the `faq` app with its models
  backend/core/locale/fr/LC_MESSAGES/django.po
  backend/faq/__init__.py
  backend/faq/admin.py
  backend/faq/apps.py
  backend/faq/migrations/0001_initial.py
  backend/faq/migrations/__init__.py
  backend/faq/models.py
  backend/scripts/ci/lint-fix.sh
  backend/scripts/ci/lint.sh
  backend/settings/settings.py
  backend/tournesol/admin.py
  backend/tournesol/locale/fr/LC_MESSAGES/django.po
Labels: Backend

#1131 Update outdated voucher mocks in tests
  frontend/src/pages/personal/vouchers/VouchersPage.spec.tsx
Labels: Frontend: tests

#1135 [front] chore: upgrade lib and remove workaround related to single quotes in openapi.yml
  frontend/package.json
  frontend/scripts/generate-services-from-openapi.sh
  frontend/src/pages/personal/vouchers/VouchersPage.spec.tsx
  frontend/yarn.lock
Labels: Frontend

#1136 [front] fix: two typos in `fr` translations
  frontend/public/locales/fr/translation.json
Labels: Frontend

#1085 [back] chore: `Pylint` upgrade and 1st wave of warnings corrections
  backend/.pylintrc
  backend/core/admin.py
  backend/core/models/user.py
  backend/core/oauth_validator.py
  backend/core/utils/models.py
  backend/core/utils/validators.py
  backend/documentation/python_dependency.md
  backend/scripts/ci/lint-fix.sh
  backend/scripts/ci/lint.sh
  backend/tests/requirements.txt
  backend/tournesol/admin.py
  backend/tournesol/apps.py
  backend/tournesol/entities/base.py
  backend/tournesol/entities/candidate.py
  backend/tournesol/entities/video.py
  backend/tournesol/errors.py
  backend/tournesol/lib/public_dataset.py
  backend/tournesol/models/comparisons.py
  backend/tournesol/models/criteria.py
  backend/tournesol/models/entity.py
  backend/tournesol/models/poll.py
  backend/tournesol/models/ratings.py
  backend/tournesol/serializers/comparison.py
  backend/tournesol/serializers/contributor_recommendations.py
  backend/tournesol/serializers/entity.py
  backend/tournesol/serializers/poll.py
  backend/tournesol/serializers/rate_later.py
  backend/tournesol/serializers/rating.py
  backend/tournesol/signals.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/tests/test_api_preview.py
  backend/tournesol/tests/test_api_rate_later.py
  backend/tournesol/utils/api_youtube.py
  backend/tournesol/utils/constants.py
  backend/tournesol/utils/video_language.py
  backend/tournesol/views/comparison.py
  backend/tournesol/views/contributor_recommendations.py
  backend/tournesol/views/criteria_correlations.py
  backend/tournesol/views/entities_to_compare.py
  backend/tournesol/views/exports.py
  backend/tournesol/views/inconsistencies.py
  backend/tournesol/views/mixins/poll.py
  backend/tournesol/views/polls.py
  backend/tournesol/views/preview.py
  backend/tournesol/views/ratings.py
  backend/tournesol/views/stats.py
  backend/tournesol/views/user.py
  backend/tournesol/views/video.py
  backend/twitterbot/tests/test_get_twitter_account.py
  backend/twitterbot/tournesolbot.py
  backend/twitterbot/twitter_api.py
  backend/twitterbot/uploader_twitter_account.py
Labels: Backend

#1137 [back] fix: it was not possible to edit a user with no voting right
  backend/core/admin.py
  backend/core/migrations/0010_alter_user_voting_right.py
  backend/core/models/user.py
Labels: Bug, Backend

#1130 [back] feat: add the FAQ API
  backend/faq/admin.py
  backend/faq/migrations/0002_alter_faqanswerlocale_question.py
  backend/faq/migrations/0003_rename_faquestion_faqentry.py
  backend/faq/models.py
  backend/faq/serializers.py
  backend/faq/tests/__init__.py
  backend/faq/tests/test_api_faq.py
  backend/faq/urls.py
  backend/faq/views.py
  backend/settings/urls.py
  frontend/scripts/openapi.yaml
Labels: Backend

#1144 [front] fix: update outdated OpenAPI schema
  frontend/scripts/openapi.yaml
Labels: Bug, Frontend

#1138 [back] fix: prevent a `Voucher` to be saved with the same `by` and `to`
  backend/core/locale/fr/LC_MESSAGES/django.po
  backend/tournesol/locale/fr/LC_MESSAGES/django.po
  backend/vouch/models.py
  backend/vouch/tests/test_model_voucher.py
Labels: Bug, Backend

#1139 [back] ci: apply the linters on the `vouch` app
  backend/scripts/ci/lint.sh
  backend/vouch/trust_algo.py
Labels: Backend, CI

#1146 [infra] refactor: twitterbot tweets on Sunday instead of Friday
  infra/ansible/roles/django/templates/tournesol-twitterbot.service.j2
Labels: Infra, twitter-bot

#1148 PyLint warnings in ml directory (#448)
  backend/ml/inputs.py
  backend/ml/management/commands/ml_train.py
  backend/scripts/ci/lint.sh
Labels: Backend

#1150 [back] fix: file used as default preview image was closed when used in `FileResponse`
  backend/tournesol/tests/test_api_preview.py
  backend/tournesol/views/preview.py
Labels: Bug, Backend
