Repository tournesol-app/tournesol, pull requests merged in 2023-07, with the labels that each got.

#1660 [front][ext] chore: upgrade dependencies to resolve dependabot alert about 'word-wrap'
  browser-extension/yarn.lock
  frontend/yarn.lock
Labels: Frontend, Extension, Security

#1658 [front] feat: live chip on talk entry for ongoing talks
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/pages/talks/TalkSingleEntry.tsx
Labels: Frontend

#1652 [back] feat: create the banner API in the backoffice
  backend/backoffice/admin.py
  backend/backoffice/migrations/0007_0008_banner_initial.py
  backend/backoffice/migrations/0008_rename_url_bannerlocale_action_link.py
  backend/backoffice/migrations/0009_make_action_optional.py
  backend/backoffice/models/__init__.py
  backend/backoffice/models/banner.py
  backend/backoffice/models/talk.py
  backend/backoffice/serializers.py
  backend/backoffice/tests/api/test_banners.py
  backend/backoffice/tests/api/test_talks.py
  backend/backoffice/tests/models/test_talk.py
  backend/backoffice/urls.py
  backend/backoffice/views.py
  backend/core/locale/fr/LC_MESSAGES/django.po
  backend/core/models/mixin.py
  backend/faq/models.py
  backend/faq/views.py
  backend/tournesol/locale/fr/LC_MESSAGES/django.po
  backend/tournesol/views/previews/faq.py
Labels: Backend

#1661 [front] chore: update the OpenAPI schema
  frontend/scripts/openapi.yaml
Labels: Frontend

#1662 [back] sec: upgrade Django to 4.1.10 (from 4.1.9)
  backend/requirements.txt
Labels: Backend, Security

#1664 [back] feat: add the `notifications__lang` setting
  backend/core/serializers/user_settings.py
  backend/core/tests/test_api_user_settings.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/scripts/openapi.yaml
  frontend/src/features/settings/preferences/GeneralUserSettingsForm.tsx
  frontend/src/features/settings/preferences/TournesolUserSettingsForm.spec.tsx
  frontend/src/features/settings/preferences/TournesolUserSettingsForm.tsx
  frontend/src/features/settings/preferences/fields/NotificationsLang.tsx
Labels: Backend, Frontend

#1665 [front] feat: connect the videos home page to the /banners/ API
  frontend/scripts/openapi.yaml
  frontend/src/features/banners/TempStudyBanner.tsx
  frontend/src/features/banners/WebsiteBanner.tsx
  frontend/src/features/banners/WebsiteBanners.tsx
  frontend/src/pages/home/videos/HomeVideos.tsx
Labels: Frontend

#1670 [front] refactor: move icons in buttons to the left of the text
  frontend/src/components/buttons/CopyToClipboardButton.tsx
  frontend/src/features/recommendation/subset/RecommendationsSubsetControls.tsx
  frontend/src/pages/faq/FAQEntryList.tsx
  frontend/src/pages/home/videos/sections/FundingSection.tsx
  frontend/src/pages/home/videos/sections/recommendations/UseOurExtension.tsx
  frontend/src/pages/home/videos/sections/research/PublicDataPublicCodeBox.tsx
  frontend/src/pages/home/videos/sections/research/TalksBox.tsx
  frontend/src/pages/personal/vouchers/CreateVoucherForm.tsx
Labels: Frontend

#1671 [back][front] refactor: NOTIFICATIONS_LANG now contains standard language tags
  backend/core/migrations/0014_update_notificatoins_lang_value.py
  backend/core/serializers/user_settings.py
  frontend/scripts/openapi.yaml
  frontend/src/features/settings/preferences/TournesolUserSettingsForm.spec.tsx
  frontend/src/features/settings/preferences/TournesolUserSettingsForm.tsx
  frontend/src/features/settings/preferences/fields/NotificationsLang.tsx
Labels: Backend, Frontend

#1666 [front] fix: remove the extra trailing slash in `recommendations`
  browser-extension/src/manifest.json
  browser-extension/src/models/tournesolContainer/TournesolContainer.js
  frontend/src/features/frame/components/topbar/Search.tsx
Labels: Bug, Frontend

#1657 [front] feat: notification settings at sign up
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/scripts/openapi.yaml
  frontend/src/features/settings/preferences/fields/NotificationsEmailNewFeatures.tsx
  frontend/src/features/settings/preferences/fields/NotificationsEmailResearch.tsx
  frontend/src/pages/signup/Signup.tsx
  frontend/src/utils/userSettings.ts
  tests/cypress/e2e/frontend/signup.cy.ts
Labels: Frontend

#1674 WIP / [tests] fix: attempt to fix the failing Signup test
  tests/cypress/e2e/frontend/signup.cy.ts
Labels: Bug, Frontend: tests

#1569 [back] feat: Add sum of trust scores on EntityPollRating
  backend/ml/management/commands/ml_train.py
  backend/tournesol/admin.py
  backend/tournesol/migrations/0053_entitypollrating_sum_trust_scores.py
  backend/tournesol/models/entity_poll_rating.py
  backend/tournesol/tests/test_model_entity_poll_rating.py
Labels: Backend

#1668 [front] feat: Add options to share on social media from video cards/analysis page
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/menus/ShareMenu.tsx
  frontend/src/features/menus/ShareMenuButton.tsx
  frontend/src/pages/recommendations/RecommendationPage.tsx
  frontend/src/pages/videos/VideoAnalysisActionBar.tsx
  frontend/src/pages/videos/VideoAnalysisPage.tsx
Labels: Frontend

#1675 [front] feat: display security banners in priority
  frontend/src/features/banners/WebsiteBanner.tsx
  frontend/src/features/banners/WebsiteBanners.tsx
Labels: Frontend

#1679 [front] fix: security banners' specific CSS was applied to all banners
  frontend/src/features/banners/WebsiteBanner.tsx
Labels: Bug, Frontend

#1680 [back][front] chore: new /faq/ API
  backend/backoffice/migrations/0011_revert_faq.py
  backend/backoffice/migrations/0012_rebuild_faq.py
  backend/backoffice/migrations/0013_move_data_from_faq_to_backoffice.py
  backend/backoffice/models/faq.py
  backend/backoffice/serializers.py
  backend/backoffice/tests/api/test_faq.py
  backend/backoffice/urls.py
  backend/backoffice/views.py
  backend/faq/migrations/0006_reset_faq_table_name.py
  backend/faq/migrations/0007_make_faq_unmanaged.py
  backend/faq/models.py
  backend/faq/serializers.py
  backend/faq/urls.py
  backend/faq/views.py
  backend/settings/settings.py
  backend/tournesol/tests/test_api_preview.py
  backend/tournesol/views/previews/faq.py
  frontend/scripts/openapi.yaml
  frontend/src/pages/faq/FAQ.tsx
Labels: Backend, Frontend

#1681 [back] refactor: move each backoffice view/serializer in its own file
  backend/backoffice/serializers.py
  backend/backoffice/serializers/__init__.py
  backend/backoffice/serializers/banner.py
  backend/backoffice/serializers/faq.py
  backend/backoffice/serializers/talk.py
  backend/backoffice/views.py
  backend/backoffice/views/__init__.py
  backend/backoffice/views/banners.py
  backend/backoffice/views/faqs.py
  backend/backoffice/views/talks.py
Labels: Backend

#1642 feat: filter safe recommendations using sum of trust scores
  backend/settings/settings.py
  backend/tournesol/models/entity.py
  backend/tournesol/tests/factories/entity.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/tests/test_api_contributor_recommendations.py
  backend/tournesol/tests/test_api_polls.py
  backend/tournesol/tests/test_api_ratings.py
  backend/tournesol/tests/test_api_video.py
  backend/tournesol/tests/test_ml_run.py
  backend/tournesol/tests/test_text_search.py
  backend/tournesol/views/polls.py
  backend/tournesol/views/video.py
Labels: Backend

#1684 [front] refactor: rework tutorial
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/comparisonSeries/ComparisonSeries.tsx
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/polls/PollLargeButton.tsx
  frontend/src/features/tips/Tip.tsx
  frontend/src/features/tips/Tips.tsx
  frontend/src/pages/comparisons/Comparison.tsx
  frontend/src/pages/comparisons/ComparisonList.tsx
  frontend/src/pages/home/presidentielle2022/HomePresidentielle2022.tsx
  frontend/src/pages/home/videos/HomeVideos.tsx
  frontend/src/pages/home/videos/sections/HomeComparison.tsx
  frontend/src/pages/personal/feedback/FeedbackPagePresidentielle2022.tsx
  frontend/src/pages/signup/Verify.tsx
  frontend/src/utils/constants.tsx
  frontend/src/utils/extension.ts
  frontend/src/utils/polls/videos.tsx
  frontend/src/utils/types.ts
  frontend/src/utils/ui.ts
  tests/cypress/e2e/frontend/comparisonPage.cy.ts
  tests/cypress/e2e/frontend/comparisonPageTuto.cy.ts
  tests/cypress/e2e/frontend/home.cy.ts
  tests/cypress/e2e/frontend/settingsPreferencesPage.cy.ts
Labels: Frontend

#1692 [front] fix: add missing target="_blank" in the extension install button
  frontend/src/utils/polls/videos.tsx
Labels: Frontend

#1698 [front] feat: add new research article
  frontend/src/pages/home/videos/sections/research/ScientificLiteratureBox.tsx
Labels: Frontend

#1699 [back] feat: add the comparison__fill_entity_selector to the generic settings
  backend/core/serializers/user_settings.py
  frontend/scripts/openapi.yaml
Labels: Backend
