Repository tournesol-app/tournesol, pull requests merged in 2023-12, with the labels that each got.

#1841 [front] feat: support pasting URL and UID in search bar
  frontend/src/features/frame/components/topbar/Search.tsx
  tests/cypress/e2e/frontend/search.cy.ts
Labels: Frontend

#1857 [front] feat: add a link to the FAQ from `EntityContextBox`
  backend/tournesol/migrations/0059_remove_poll_moderation.py
  backend/tournesol/models/poll.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/entity_context/EntityContextBox.tsx
Labels: Backend

#1864 [infra] fix: alerting should now properly work with file provisioning
  infra/ansible/inventory.yml
  infra/ansible/roles/grafana_alerting/handlers/main.yaml
  infra/ansible/roles/grafana_alerting/tasks/main.yml
  infra/ansible/roles/grafana_alerting/templates/contactPoints.yaml.j2
  infra/ansible/roles/grafana_alerting/templates/defaultEvaluationGroup.yaml.j2
  infra/ansible/roles/grafana_alerting/templates/policies.yaml.j2
  infra/ansible/roles/logging/handlers/main.yml
  infra/ansible/roles/logging/tasks/main.yml
  infra/ansible/roles/logging/templates/alerting-dashboard.json.j2
  infra/ansible/roles/logging/templates/datasource_loki.yaml.j2
  infra/ansible/roles/monitoring/handlers/main.yml
  infra/ansible/roles/monitoring/tasks/main.yml
  infra/ansible/roles/monitoring/templates/datasource_prometheus.yaml.j2
  infra/ansible/setup.yml
Labels: Bug, Infra

#1866 [back] chore: remove legacy field `tournesol_score`
  backend/ml/outputs.py
  backend/tournesol/admin.py
  backend/tournesol/management/commands/sync_yt_playlists.py
  backend/tournesol/migrations/0060_remove_entity_tournesol_score.py
  backend/tournesol/models/entity.py
  backend/tournesol/models/entity_poll_rating.py
  backend/tournesol/serializers/entity.py
  backend/tournesol/tests/factories/comparison.py
  backend/tournesol/tests/factories/entity.py
  backend/tournesol/tests/factories/entity_poll_rating.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/tests/test_api_contributor_recommendations.py
  backend/tournesol/tests/test_api_entities.py
  backend/tournesol/tests/test_api_polls.py
  backend/tournesol/tests/test_api_ratings.py
  backend/tournesol/tests/test_api_suggestions_tocompare.py
  backend/tournesol/tests/test_api_video.py
  backend/tournesol/tests/test_ml_run.py
  backend/tournesol/views/polls.py
  backend/tournesol/views/video.py
  backend/twitterbot/tournesolbot.py
  frontend/scripts/openapi.yaml
Labels: Backend

#1869 [back] refactor: set the nbr of CPU not used during the ML run
  backend/ml/mehestan/run.py
  backend/settings/settings.py
Labels: Backend

#1858 [front] feat: display entity contexts on comparison page
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/comparisons/ComparisonEntityContexts.tsx
  frontend/src/features/entity_context/EntityContextBox.tsx
  frontend/src/features/entity_selector/EntitySelector.tsx
  frontend/src/utils/entityContexts/collapsed.ts
Labels: Frontend

#1871 [front] style: adapt flex style of compact EntityCard to make 'card-i…
  frontend/src/components/entity/EntityCard.tsx
  frontend/src/components/entity/style.ts
Labels: Frontend
