Repository tournesol-app/tournesol, pull requests merged in 2023-08, with the labels that each got.

#1705 [front] feat: add new tabs to the Scientific Literature Box
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/pages/home/videos/sections/research/ScientificLiteratureBox.tsx
Labels: Frontend

#1697 [front] feat: display a description of the video selector tabs
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/entity_selector/EntitySelectButton.tsx
  frontend/src/features/entity_selector/EntityTabsBox.tsx
  frontend/src/pages/comparisons/Comparison.tsx
Labels: Frontend

#1701 [front] feat: implement the fill entity selector feature
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/entity_selector/AutoEntityButton.tsx
  frontend/src/features/entity_selector/EntitySelectButton.tsx
  frontend/src/features/entity_selector/EntitySelector.tsx
  frontend/src/pages/comparisons/Comparison.tsx
  frontend/src/pages/home/videos/sections/HomeComparison.tsx
  frontend/src/utils/constants.tsx
  frontend/src/utils/types.ts
  tests/cypress/e2e/frontend/comparisonPage.cy.ts
  tests/cypress/e2e/frontend/settingsPreferencesPage.cy.ts
Labels: Frontend

#1700 [front] feat: add the fill entity selector setting to the preferences
  backend/core/serializers/user_settings.py
  backend/core/tests/test_api_user_settings.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/scripts/openapi.yaml
  frontend/src/features/entity_selector/AutoEntityButton.tsx
  frontend/src/features/entity_selector/EntitySelectButton.tsx
  frontend/src/features/entity_selector/EntitySelector.tsx
  frontend/src/features/settings/preferences/TournesolUserSettingsForm.tsx
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.tsx
  frontend/src/features/settings/preferences/fields/AutoSelectEntities.tsx
  frontend/src/pages/comparisons/Comparison.tsx
  frontend/src/utils/constants.tsx
  frontend/src/utils/types.ts
  tests/cypress/e2e/frontend/comparisonPage.cy.ts
  tests/cypress/e2e/frontend/settingsPreferencesPage.cy.ts
Labels: Frontend

#1715 [front] fix: obsolete translation key
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
Labels: Bug, Frontend

#1713 [back][front] feat: make `exclude_compared_entities` configurable by users
  backend/core/serializers/user_settings.py
  backend/core/tests/test_api_user_settings.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/scripts/openapi.yaml
  frontend/src/features/settings/preferences/TournesolUserSettingsForm.tsx
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.tsx
  frontend/src/features/settings/preferences/fields/RecommendationsDefaultExcludeCompared.tsx
  frontend/src/utils/userSettings.ts
  tests/cypress/e2e/frontend/settingsPreferencesPage.cy.ts
Labels: Backend

#1719 [front] feat: add support of YouTube mobile and /live/ URLs
  frontend/src/utils/video.spec.ts
  frontend/src/utils/video.ts
Labels: Frontend

#1721 [back] chore: upgrade several dependencies
  backend/requirements.txt
  frontend/scripts/openapi.yaml
Labels: Backend

#1723 [front] chore: upgrade MUI
  frontend/package.json
  frontend/src/features/recommendation/CriteriaFilter.tsx
  frontend/yarn.lock
Labels: Frontend

#1724 [front] chore: update authors of paper "Tournesol: Permissionless Collaborative [...]"
  frontend/src/pages/home/videos/sections/research/ScientificLiteratureBox.tsx
Labels: Frontend

#1683 [ext] feat: allow the users to save their preferences
  browser-extension/src/_locales/en/messages.json
  browser-extension/src/_locales/fr/messages.json
  browser-extension/src/background.js
  browser-extension/src/browserAction/menu.html
  browser-extension/src/browserAction/menu.js
  browser-extension/src/images/settings.svg
  browser-extension/src/manifest.json
  browser-extension/src/models/tournesolContainer/TournesolContainer.js
  browser-extension/src/options/mui.css
  browser-extension/src/options/options.css
  browser-extension/src/options/options.html
  browser-extension/src/options/options.js
  browser-extension/src/utils.js
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/recommendation/SearchFilter.tsx
  frontend/src/features/settings/preferences/TournesolUserSettingsForm.tsx
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.tsx
  frontend/src/features/settings/preferences/fields/RecommendationsDefaultLanguage.tsx
  frontend/src/pages/recommendations/RecommendationPage.spec.tsx
  frontend/src/pages/recommendations/RecommendationPage.tsx
  frontend/src/pages/settings/preferences/Preferences.tsx
  frontend/src/utils/recommendationsLanguages.ts
  frontend/src/utils/userSettings.ts
  tests/cypress/e2e/frontend/settingsPreferencesPage.cy.ts
Labels: Extension

#1729 [front] fix: impossible to save preferences when no reco. langs have been selected
  frontend/src/features/settings/preferences/TournesolUserSettingsForm.tsx
Labels: Bug, Frontend

#1741 sec(infra) set HSTS max-age to 180 days (instead of 300 seconds)
  infra/ansible/roles/django/templates/tournesol.j2
Labels: Infra, Security

#1737 doc: add a PULL_REQUEST_TEMPLATE.md file
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation

#1736 fix(back) add support limit & offset params in reco preview
  backend/tournesol/views/previews/recommendations.py
Labels: Bug, Backend

#1744 sec(infra): remove weak TLS ciphers (and fix HSTS nginx conf)
  infra/ansible/roles/django/templates/tournesol.j2
  infra/ansible/roles/monitoring/templates/grafana.j2
  infra/ansible/roles/nginx/templates/nginx.conf.j2
  infra/ansible/roles/plausible_analytics/templates/website_analytics.j2
Labels: Infra, Security

#1742 style(front): add a welcome banner in the signup form
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/pages/signup/Signup.tsx
  tests/cypress/e2e/frontend/signup.cy.ts
Labels: Frontend, UX

#1735 refactor(back, front): delete the legacy faq app
  backend/backoffice/migrations/0010_init_faq.py
  backend/backoffice/migrations/0011_revert_faq.py
  backend/backoffice/migrations/0013_move_data_from_faq_to_backoffice.py
  backend/backoffice/migrations/0014_delete_legacy_faq_tables.py
  backend/backoffice/tests/api/test_faq.py
  backend/faq/__init__.py
  backend/faq/apps.py
  backend/faq/migrations/0001_initial.py
  backend/faq/migrations/0002_alter_faqanswerlocale_question.py
  backend/faq/migrations/0003_rename_faquestion_faqentry.py
  backend/faq/migrations/0004_alter_faqentry_options.py
  backend/faq/migrations/0005_alter_models_tables_names.py
  backend/faq/migrations/0006_reset_faq_table_name.py
  backend/faq/migrations/0007_make_faq_unmanaged.py
  backend/faq/migrations/__init__.py
  backend/faq/models.py
  backend/faq/tests/__init__.py
  backend/faq/urls.py
  backend/settings/settings.py
  backend/settings/urls.py
  frontend/scripts/openapi.yaml
Labels: Backend, Frontend
