Repository tournesol-app/tournesol, pull requests merged in 2023-09, with the labels that each got.

#1747 refactor(front): remove an extra console.error
  frontend/src/features/comparisons/Comparison.tsx
Labels: Frontend

#1745 [back] refactor: Adapt contributor_ratings API to the new response schema
  backend/tournesol/serializers/comparison.py
  backend/tournesol/serializers/entity.py
  backend/tournesol/serializers/poll.py
  backend/tournesol/serializers/rate_later.py
  backend/tournesol/serializers/rating.py
  backend/tournesol/tests/test_api_ratings.py
  backend/tournesol/views/comparison.py
  backend/tournesol/views/rate_later.py
  backend/tournesol/views/ratings.py
  frontend/scripts/openapi.yaml
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/entity_selector/EntitySelector.tsx
  frontend/src/features/feedback/StackedCandidatesPaper.tsx
  frontend/src/features/videos/PublicStatusAction.tsx
  frontend/src/hooks/usePersonalCriteriaScores.tsx
Labels: Backend

#1748 [back] fix: HTTP 500 is now 400 when unique contrainst of rating is violated
  backend/tournesol/views/ratings.py
Labels: Bug, Backend

#1754 [back] test: order the results of VoucherReceivedListAPIView
  backend/vouch/tests/test_api_voucher.py
  backend/vouch/views.py
Labels: Bug, Backend

#1759 [back] sec: upgrade Django to 4.1.11 (from 4.1.10)
  backend/requirements.txt
Labels: Backend, Security

#1764 [front] fix: remove uploader param from URL after deleting filter
  backend/scripts/ci/lint-fix.sh
  backend/scripts/ci/lint.sh
  backend/tournesol/views/previews/recommendations.py
  frontend/src/features/recommendation/SearchFilter.tsx
  frontend/src/hooks/useListFilter.ts
Labels: Bug, Backend, Frontend

#1760 [front] refactor: increase the range of the suggested videos
  frontend/src/utils/video.ts
Labels: Frontend

#1730 [ext][front] refactor: move the action "search on/off" to the preferences page
  backend/core/serializers/user_settings.py
  backend/core/tests/test_api_user_settings.py
  browser-extension/src/_locales/en/messages.json
  browser-extension/src/_locales/fr/messages.json
  browser-extension/src/background.js
  browser-extension/src/browserAction/menu.html
  browser-extension/src/browserAction/menu.js
  browser-extension/src/displayHomeRecommendations.js
  browser-extension/src/displaySearchRecommendations.js
  browser-extension/src/models/tournesolRecommendations/TournesolRecommendations.js
  browser-extension/src/models/tournesolRecommendations/TournesolSearchRecommendations.js
  browser-extension/src/options/options.html
  browser-extension/src/options/options.js
  browser-extension/src/utils.js
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/scripts/openapi.yaml
  frontend/src/features/settings/preferences/TournesolUserSettingsForm.tsx
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.tsx
  frontend/src/features/settings/preferences/fields/ExtSearchRecommendation.tsx
Labels: Backend, Frontend, Extension, UX

#1767 [ext] chore: release 3.3.0
  browser-extension/src/manifest.json
Labels: Extension

#1768 [front] style: fix the CSS of the banner button causing overflow
  frontend/src/features/banners/WebsiteBanner.tsx
Labels: Frontend

#1770 Ext display funding banner
  browser-extension/src/_locales/en/messages.json
  browser-extension/src/_locales/fr/messages.json
  browser-extension/src/addTournesolRecommendations.css
  browser-extension/src/images/campaign.svg
  browser-extension/src/manifest.json
  browser-extension/src/models/banner/Banner.js
  browser-extension/src/models/banner/BannerOptions.js
  browser-extension/src/models/tournesolContainer/TournesolContainer.js
Labels: Extension

#1773 [back] fix: recommendations preview for entities without score
  backend/tournesol/tests/factories/entity.py
  backend/tournesol/tests/test_api_preview.py
  backend/tournesol/views/previews/recommendations.py
Labels: Bug, Backend

#1777 [front] fix: `isLive()` value was not correctly computed based on talk date
  frontend/src/pages/talks/TalkSingleEntry.tsx
Labels: Bug, Frontend

#1771 [front] refactor: factorize duplicated code in settings/preferences
  frontend/src/features/settings/preferences/TournesolUserSettingsForm.spec.tsx
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.tsx
  frontend/src/features/settings/preferences/fields/AutoSelectEntities.tsx
  frontend/src/features/settings/preferences/fields/NotificationsEmailNewFeatures.tsx
  frontend/src/features/settings/preferences/fields/NotificationsEmailResearch.tsx
  frontend/src/features/settings/preferences/fields/RecommendationsDefaultExcludeCompared.tsx
  frontend/src/features/settings/preferences/fields/RecommendationsDefaultUnsafe.tsx
  frontend/src/features/settings/preferences/fields/generics/BooleanField.tsx
  tests/cypress/e2e/frontend/signup.cy.ts
Labels: Frontend

#1782 [front] refactor: use UIDs instead of video ids in getUidForComparison
  frontend/src/features/entity_selector/AutoEntityButton.tsx
  frontend/src/utils/video.ts
Labels: Frontend

#1774 [back] feat: add `entity` and `collective_rating` fields in recommendations API
  backend/.pylintrc
  backend/tournesol/models/entity.py
  backend/tournesol/serializers/contributor_recommendations.py
  backend/tournesol/serializers/criteria_score.py
  backend/tournesol/serializers/entity.py
  backend/tournesol/serializers/poll.py
  backend/tournesol/serializers/rating.py
  backend/tournesol/tests/test_api_contributor_recommendations.py
  backend/tournesol/tests/test_api_polls.py
  backend/tournesol/views/contributor_recommendations.py
  frontend/scripts/openapi.yaml
  frontend/src/components/CriteriaBarChart.tsx
  frontend/src/components/entity/EntityCard.tsx
  frontend/src/components/entity/EntityCardScores.tsx
  frontend/src/components/entity/EntityImagery.tsx
  frontend/src/components/entity/EntityMetadata.tsx
  frontend/src/features/charts/CriteriaScoresDistribution.tsx
  frontend/src/features/comparisonSeries/ComparisonSeries.tsx
  frontend/src/features/comparisons/ComparisonHelperPresidentielle2022.tsx
  frontend/src/features/comparisons/ComparisonList.tsx
  frontend/src/features/entities/EntityList.tsx
  frontend/src/features/entity_selector/EntitySelectButton.tsx
  frontend/src/features/entity_selector/EntitySelector.tsx
  frontend/src/features/entity_selector/EntityTabsBox.tsx
  frontend/src/features/feedback/StackedCandidatesPaper.tsx
  frontend/src/features/recommendation/ContextualRecommendations.tsx
  frontend/src/features/recommendation/subset/RecommendationsSubset.tsx
  frontend/src/features/videos/VideoCard.spec.tsx
  frontend/src/features/videos/VideoCard.tsx
  frontend/src/hooks/useCriteriaChartData.ts
  frontend/src/pages/entities/CandidateAnalysisPage.tsx
  frontend/src/pages/home/videos/sections/HomeComparison.tsx
  frontend/src/pages/rateLater/RateLater.tsx
  frontend/src/pages/videos/VideoAnalysisActionBar.tsx
  frontend/src/pages/videos/VideoAnalysisPage.tsx
  frontend/src/pages/videos/VideoRatings.tsx
  frontend/src/utils/entity.ts
  frontend/src/utils/polls/presidentielle2022.ts
  frontend/src/utils/types.ts
  frontend/src/utils/video.ts
Labels: Backend

#1758 [front] feat: add an already suggested cache to the Auto button
  frontend/src/features/entity_selector/AutoEntityButton.tsx
  frontend/src/features/rateLater/alreadySuggested.ts
  frontend/src/hooks/useLoginState.ts
  frontend/src/utils/video.ts
Labels: Frontend

#1667 [ext] style: make videos wrap onto multiple lines
  browser-extension/src/addTournesolRecommendations.css
  browser-extension/src/manifest.json
Labels: Extension

#1790 [front] fix: gap between video cards in RecommendationsSubset was inconsistent
  frontend/src/features/recommendation/subset/RecommendationsSubset.tsx
Labels: Bug, Frontend
