Repository tournesol-app/tournesol, pull requests merged in 2023-11, with the labels that each got.

#1826 [infra] fix: maintenance page could not load static assets
  infra/ansible/roles/django/templates/tournesol.j2
  infra/ansible/roles/nginx/files/maintenance/index.html
Labels: Bug, Infra

#1816 [infra] docs: add migration procedure in readme
  infra/README.md
  infra/ansible/roles/postgresql/tasks/main.yml
Labels: Bug, Infra

#1824 [infra] feat: notify Discord role when URLs checks fail
  infra/ansible/inventory.yml
  infra/ansible/roles/monitoring/templates/external-urls-monitoring.sh.j2
Labels: Infra

#1809 [back] feat: add the suggestions/tocompare API
  backend/tournesol/entities/base.py
  backend/tournesol/entities/video.py
  backend/tournesol/lib/suggestions/__init__.py
  backend/tournesol/lib/suggestions/strategies/__init__.py
  backend/tournesol/lib/suggestions/strategies/base.py
  backend/tournesol/lib/suggestions/strategies/tocompare/__init__.py
  backend/tournesol/lib/suggestions/strategies/tocompare/classic.py
  backend/tournesol/models/entity.py
  backend/tournesol/serializers/suggestion.py
  backend/tournesol/tests/lib/__init__.py
  backend/tournesol/tests/lib/suggestions/__init__.py
  backend/tournesol/tests/lib/suggestions/test_tocompare_classic.py
  backend/tournesol/tests/test_api_suggestions_tocompare.py
  backend/tournesol/urls.py
  backend/tournesol/views/suggestions/__init__.py
  backend/tournesol/views/suggestions/to_compare.py
  frontend/scripts/openapi.yaml
Labels: Backend

#1835 [front] refactor: connect Auto btn to suggestions/tocompare API
  frontend/scripts/openapi.yaml
  frontend/src/features/entity_selector/AutoEntityButton.tsx
  frontend/src/features/rateLater/alreadySuggested.ts
  frontend/src/features/rateLater/autoSuggestions.ts
  frontend/src/hooks/useLoginState.ts
  frontend/src/utils/video.ts
Labels: Backend

#1839 [ext] Connect the extension to the banners API
  browser-extension/src/_locales/en/messages.json
  browser-extension/src/_locales/fr/messages.json
  browser-extension/src/addTournesolRecommendations.css
  browser-extension/src/background.js
  browser-extension/src/browserAction/menu.js
  browser-extension/src/displayHomeRecommendations.js
  browser-extension/src/displaySearchRecommendations.js
  browser-extension/src/images/warning.svg
  browser-extension/src/manifest.json
  browser-extension/src/models/banner/Banner.js
  browser-extension/src/models/banner/BannerOptions.js
  browser-extension/src/models/banner/fetchBanner.js
  browser-extension/src/models/tournesolContainer/TournesolContainer.js
  browser-extension/src/models/tournesolRecommendations/TournesolRecommendations.js
  browser-extension/src/models/tournesolRecommendations/TournesolRecommendationsOptions.js
  browser-extension/src/models/tournesolRecommendations/TournesolSearchRecommendations.js
  browser-extension/src/utils.js
  frontend/src/features/banners/WebsiteBanners.tsx
Labels: Extension

#1842 [back][front] feat: add a prototype moderation mechanism
  backend/tournesol/migrations/0056_poll_moderation.py
  backend/tournesol/models/entity.py
  backend/tournesol/models/entity_poll_rating.py
  backend/tournesol/models/poll.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/entity/EntityCardScores.tsx
Labels: Backend

#1845 [infra][back] run ml_train on all criteria in parallel and update schedules to compute scores every 3 hours
  backend/ml/mehestan/run.py
  backend/tournesol/models/poll.py
  infra/ansible/inventory.yml
Labels: Backend, Infra

#1848 [back][front] fix: incorrect schema for suggestions/tocompare API
  backend/tournesol/lib/suggestions/strategies/base.py
  backend/tournesol/lib/suggestions/strategies/tocompare/classic.py
  backend/tournesol/tests/test_api_suggestions_tocompare.py
  backend/tournesol/views/suggestions/to_compare.py
  backend/vouch/views.py
  frontend/scripts/openapi.yaml
  frontend/src/utils/video.ts
Labels: Bug, Backend, Frontend

#1847 [front] chore: migrate from Create-React-App to Vite
  .github/workflows/e2e.yml
  frontend/.env.development
  frontend/README.md
  frontend/i18next-parser.config.js
  frontend/index.html
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Pagination.spec.tsx
  frontend/src/features/frame/components/footer/Footer.tsx
  frontend/src/features/login/Login.spec.tsx
  frontend/src/features/login/loginAPI.ts
  frontend/src/features/recommendation/SearchFilter.spec.tsx
  frontend/src/features/settings/account/PasswordForm.spec.tsx
  frontend/src/features/settings/preferences/TournesolUserSettingsForm.spec.tsx
  frontend/src/index.tsx
  frontend/src/pages/about/PublicDownloadSection.tsx
  frontend/src/pages/home/videos/sections/research/PublicDataPublicCodeBox.tsx
  frontend/src/pages/personal/vouchers/VouchersPage.spec.tsx
  frontend/src/pages/recommendations/RecommendationPage.spec.tsx
  frontend/src/pages/settings/preferences/Preferences.spec.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/serviceWorker.ts
  frontend/src/setupTests.ts
  frontend/src/utils/analytics.ts
  frontend/src/utils/constants.tsx
  frontend/src/utils/recommendationsLanguages.spec.ts
  frontend/src/utils/video.ts
  frontend/tsconfig.json
  frontend/vite.config.js
  frontend/yarn.lock
  infra/ansible/roles/frontend/templates/.env.j2
Labels: Frontend

#1844 [back] feat: add the `EntityContext` model
  backend/backoffice/admin.py
  backend/core/locale/fr/LC_MESSAGES/django.po
  backend/tournesol/admin.py
  backend/tournesol/locale/fr/LC_MESSAGES/django.po
  backend/tournesol/migrations/0057_entitycontext_entitycontextlocale.py
  backend/tournesol/models/entity.py
  backend/tournesol/models/entity_context.py
  backend/tournesol/models/entity_poll_rating.py
  backend/tournesol/models/poll.py
  backend/tournesol/serializers/entity_context.py
  backend/tournesol/serializers/poll.py
  backend/tournesol/tests/test_api_polls.py
  backend/tournesol/tests/test_model_entity_poll_rating.py
  backend/tournesol/tests/test_model_poll.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/scripts/openapi.yaml
  frontend/src/components/CollapseButton.tsx
  frontend/src/components/entity/EntityCardScores.tsx
  frontend/src/features/entity_context/EntityContextBox.tsx
  frontend/src/features/videos/VideoCard.spec.tsx
  frontend/src/pages/entities/EntityAnalysisPage.tsx
  frontend/src/pages/videos/VideoAnalysisPage.tsx
Labels: Backend, Frontend

#1853 [front] feat: display unsafe context in rate-later list
  backend/tournesol/serializers/rate_later.py
  backend/tournesol/tests/test_api_rate_later.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/scripts/openapi.yaml
  frontend/src/components/entity/EntityCard.tsx
  frontend/src/features/entities/EntityList.tsx
  frontend/src/features/entity_context/EntityCardContextAlert.tsx
  frontend/src/features/entity_context/EntityContextBox.tsx
  frontend/src/pages/rateLater/RateLater.tsx
  frontend/src/pages/videos/VideoAnalysisPage.tsx
Labels: Backend, Frontend
