Repository tournesol-app/tournesol, pull requests merged in 2023-05, with the labels that each got.

#1532 [ext][front] fix: do not call the API /stats/ when it's not needed
  browser-extension/src/addModal.js
  browser-extension/src/manifest.json
  frontend/src/App.tsx
Labels: Bug, Frontend, Extension

#1533 [front] feat : display limit, offset and count in the pagination
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/Pagination.spec.tsx
  frontend/src/components/Pagination.tsx
  frontend/src/pages/recommendations/RecommendationPage.tsx
Labels: Frontend

#1534 [infra] Upgrade and pin Uvicorn version, attempt to fix timeout issues on previews
  backend/tournesol/utils/constants.py
  infra/ansible/roles/django/tasks/main.yml
Labels: Backend, Infra

#1535 [front] refactor: move faq questions in their own component
  frontend/src/pages/faq/FAQEntryList.tsx
  frontend/src/pages/faq/FAQSingleEntry.tsx
Labels: Frontend

#1536 [front] feat: FAQEntries can be folded / unfolded
  frontend/src/pages/faq/FAQ.tsx
  frontend/src/pages/faq/FAQEntryList.tsx
  frontend/src/pages/faq/FAQSingleEntry.tsx
  frontend/src/pages/faq/FAQTableOfContent.tsx
Labels: Frontend

#1539 [front] trans: translate the FAQ page title in French
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/pages/faq/FAQ.tsx
Labels: Frontend

#1540 [front] fix: faq icons not overlapping text on small screens
  frontend/src/pages/faq/FAQSingleEntry.tsx
Labels: Frontend

#1436 [ext] feat: add search recommendations
  browser-extension/.eslintrc.json
  browser-extension/src/_locales/en/messages.json
  browser-extension/src/_locales/fr/messages.json
  browser-extension/src/addModal.css
  browser-extension/src/addModal.js
  browser-extension/src/addRateButtons.js
  browser-extension/src/addTournesolRecommendations.css
  browser-extension/src/addTournesolRecommendations.js
  browser-extension/src/background.js
  browser-extension/src/browserAction/menu.html
  browser-extension/src/browserAction/menu.js
  browser-extension/src/displayHomeRecommendations.js
  browser-extension/src/displaySearchRecommendations.js
  browser-extension/src/images/criteriaIcons/backfire_risk.svg
  browser-extension/src/images/criteriaIcons/better_habits.svg
  browser-extension/src/images/criteriaIcons/diversity_inclusion.svg
  browser-extension/src/images/criteriaIcons/engaging.svg
  browser-extension/src/images/criteriaIcons/entertaining_relaxing.svg
  browser-extension/src/images/criteriaIcons/importance.svg
  browser-extension/src/images/criteriaIcons/layman_friendly.svg
  browser-extension/src/images/criteriaIcons/pedagogy.svg
  browser-extension/src/images/criteriaIcons/reliability.svg
  browser-extension/src/manifest.json
  browser-extension/src/models/banner/Banner.js
  browser-extension/src/models/banner/BannerOptions.js
  browser-extension/src/models/tournesolContainer/TournesolContainer.js
  browser-extension/src/models/tournesolRecommendations/TournesolRecommendations.js
  browser-extension/src/models/tournesolRecommendations/TournesolRecommendationsOptions.js
  browser-extension/src/models/tournesolRecommendations/TournesolSearchRecommendations.js
  browser-extension/src/models/tournesolVideoCard/TournesolVideoCard.js
  browser-extension/src/utils.js
  tests/cypress/e2e/browser-extension/extension.cy.ts
Labels: Extension

#1549 [front] refactor: move preferences fields in their own components
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.tsx
  frontend/src/features/settings/preferences/fields/RateLaterAutoRemove.tsx
  frontend/src/features/settings/preferences/fields/WeeklyCollectiveGoalDisplay.tsx
Labels: Frontend

#1552 [front] fix: broken translation in the Preferences form
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
Labels: Bug, Frontend

#1542 [front] refactor: add StatsContext with its lazy provider
  browser-extension/src/addModal.js
  browser-extension/src/manifest.json
  frontend/src/App.tsx
  frontend/src/app/store.ts
  frontend/src/features/comparisons/ComparisonSliders.tsx
  frontend/src/features/comparisons/statsSlice.ts
  frontend/src/features/goals/CollectiveGoalWeeklyProgress.tsx
  frontend/src/features/statistics/StatsContext.tsx
  frontend/src/features/statistics/UsageStatsSection.tsx
  frontend/src/features/statistics/stats.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useStats.ts
  frontend/src/pages/about/PublicDownloadSection.tsx
  frontend/src/pages/home/videos/HomeVideos.tsx
  frontend/src/pages/home/videos/sections/ComparisonSection.tsx
  frontend/src/pages/home/videos/sections/recommendations/RecommendationsSection.tsx
Labels: Frontend

#1551 [ext] fix: search results are not empty anymore when the query includes accents
  browser-extension/src/manifest.json
  browser-extension/src/models/tournesolRecommendations/TournesolSearchRecommendations.js
  tests/cypress/e2e/browser-extension/extension.cy.ts
Labels: Bug, Extension

#1555 [front] fix: user settings not retrieved after a login
  frontend/src/App.tsx
Labels: Bug, Frontend

#1556 [front] fix: retrieve user's settings from API when login on preferences page
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.spec.tsx
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.tsx
Labels: Bug, Frontend

#1526 [back] feat: Exclude already compared in recommendations
  backend/tournesol/serializers/poll.py
  backend/tournesol/tests/test_api_polls.py
  backend/tournesol/views/polls.py
Labels: Backend

#1504 [back] feat: Recommendation page website preview
  backend/tournesol/renderers.py
  backend/tournesol/resources/Poppins-Light.ttf
  backend/tournesol/resources/Poppins-LightItalic.ttf
  backend/tournesol/resources/Poppins-Regular.ttf
  backend/tournesol/tests/test_api_preview.py
  backend/tournesol/urls.py
  backend/tournesol/views/preview.py
  backend/tournesol/views/preview_recommendations.py
  tests/cypress/e2e/frontend/preview.cy.ts
Labels: Backend

#1558 [back] fix: recommendations preview is empty when all languages are explicitly requested
  backend/tournesol/tests/test_api_preview.py
  backend/tournesol/views/preview_recommendations.py
Labels: Bug, Backend

#1559 [front] fix: conflicting z-index values between video card duration and video selector
  frontend/src/components/entity/EntityImagery.tsx
  frontend/src/features/entity_selector/SelectorPopper.tsx
  frontend/src/pages/rateLater/RateLater.tsx
  frontend/src/theme.ts
Labels: Bug, Frontend

#1561 [front] feat: add id to all HomeVideos' section titles
  frontend/src/hooks/index.ts
  frontend/src/hooks/useScrollToLocation.ts
  frontend/src/pages/criteria/CriteriaPage.tsx
  frontend/src/pages/home/Home.tsx
  frontend/src/pages/home/PollListSection.tsx
  frontend/src/pages/home/videos/sections/ComparisonSection.tsx
  frontend/src/pages/home/videos/sections/FundingSection.tsx
  frontend/src/pages/home/videos/sections/SectionTitle.tsx
  frontend/src/pages/home/videos/sections/recommendations/RecommendationsSection.tsx
  frontend/src/pages/home/videos/sections/recommendations/UseOurExtension.tsx
  frontend/src/pages/home/videos/sections/research/ResearchSection.tsx
Labels: Frontend

#1553 [front] feat: add default unsafe preference for recommendations page
  backend/core/serializers/user_settings.py
  backend/core/tests/serializers/test_user_settings.py
  backend/core/tests/test_api_user_settings.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/scripts/openapi.yaml
  frontend/src/features/frame/components/sidebar/SideBar.tsx
  frontend/src/features/recommendation/LanguageFilter.tsx
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.spec.tsx
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.tsx
  frontend/src/features/settings/preferences/fields/RateLaterAutoRemove.tsx
  frontend/src/features/settings/preferences/fields/RecommendationsDefaultDate.tsx
  frontend/src/features/settings/preferences/fields/RecommendationsDefaultUnsafe.tsx
  frontend/src/features/settings/preferences/fields/WeeklyCollectiveGoalDisplay.tsx
  frontend/src/utils/userSettings.ts
Labels: Frontend

#1567 [front] refactor: increase collective goal to 2500 from 2000
  frontend/src/features/goals/collective.tsx
Labels: Frontend

#1576 [twitter-bot] Tourneslbot with api v2
  backend/requirements.txt
  backend/twitterbot/tests/test_tournesolbot.py
  backend/twitterbot/tournesolbot.py
  backend/twitterbot/twitter_api.py
Labels: Backend, twitter-bot

#1565 infra: disable Tournesol wiki
  infra/ansible/roles/mediawiki/tasks/main.yml
Labels: Infra

#1574 [front] feat: add a link to the settings in the recommendations page
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.spec.tsx
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.tsx
  frontend/src/pages/recommendations/RecommendationPage.tsx
Labels: Frontend

#1579 [front] refactor: add InternalLinkButton to redirect to an internal link with an IconButton
  frontend/src/components/buttons/PreferencesIconButtonLink.tsx
  frontend/src/pages/recommendations/RecommendationPage.tsx
Labels: Frontend

#1580 [infra] chore: disable wiki URL monitoring
  infra/ansible/inventory.yml
  infra/ansible/roles/mediawiki/tasks/main.yml
Labels: Infra

#1571 [front] fix: remove extra trailing slash in comparison URL
  frontend/src/features/comparisons/ComparisonList.tsx
  frontend/src/pages/home/videos/sections/HomeComparison.tsx
  frontend/src/utils/action.tsx
  tests/cypress/e2e/frontend/comparisonPage.cy.ts
Labels: Bug, Frontend

#1582 [front] refactor: redesign rate later page header
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/DialogBoxGeneric.tsx
  frontend/src/features/rateLater/RateLaterAddForm.tsx
  frontend/src/pages/rateLater/RateLater.tsx
  tests/cypress/e2e/frontend/rateLaterPage.cy.ts
Labels: Frontend

#1584 [front]: put the emphasis on the comparisons made number on comparisons page
  frontend/src/pages/comparisons/ComparisonList.tsx
  frontend/src/pages/rateLater/RateLater.tsx
Labels: Frontend

#1583 [solidago] init package, move mehestan primitives, add CI workflow
  .github/workflows/solidago-publish.yml
  .github/workflows/solidago-test.yml
  README.md
  backend/dev-env/Dockerfile
  backend/ml/mehestan/global_scores.py
  backend/requirements.txt
  backend/tests/test_addition.py
  dev-env/docker-compose.yml
  dev-env/run-docker-compose.sh
  infra/ansible/roles/django/tasks/main.yml
  solidago/.gitignore
  solidago/README.md
  solidago/pyproject.toml
  solidago/src/solidago/__init__.py
  solidago/src/solidago/__version__.py
  solidago/src/solidago/mehestan/__init__.py
  solidago/src/solidago/mehestan/primitives.py
  solidago/src/solidago/optimize.py
  solidago/tests/test_mehestan_primitives.py
Labels: Backend, Solidago

#1588 [front] refactor: DialogBox replaces DialogBoxGeneric uses
  frontend/src/components/DialogBox.tsx
  frontend/src/components/DialogBoxGeneric.tsx
  frontend/src/features/comparisonSeries/ComparisonSeries.tsx
  frontend/src/pages/personal/vouchers/TrustScore.tsx
  frontend/src/pages/rateLater/RateLater.tsx
Labels: Frontend

#1589 [ext] fix: the video actions are now displayed in their own container
  browser-extension/src/addRateButtons.css
  browser-extension/src/addRateButtons.js
  browser-extension/src/manifest.json
Labels: Bug, Extension

#1593 [front] style: add missing content padding in the Rate Later page
  frontend/src/pages/rateLater/RateLater.tsx
Labels: Bug, Frontend

#1591 [front] tests: add tests for user's preferences
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/buttons/PreferencesIconButtonLink.tsx
  tests/cypress/e2e/frontend/settingsPreferencesPage.cy.ts
Labels: Frontend: tests

#1596 [tests] e2e: add tests for recommendations page settings
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/frame/components/sidebar/SideBar.tsx
  tests/cypress/e2e/frontend/settingsPreferencesPage.cy.ts
Labels: Frontend: tests
