Repository tournesol-app/tournesol, pull requests merged in 2023-03, with the labels that each got.

#1389 [back] add machine name for email alerting
  backend/core/management/commands/watch_account_creation.py
  backend/core/tests/management/test_watch_account_creation.py
Labels: Backend, Infra

#1390 [extension] fix: removes the text of rate buttons on some screen sizes
  browser-extension/src/addRateButtons.css
  browser-extension/src/manifest.json
Labels: Bug, Extension

#1387 [dataviz] Use new route to get `comparisons.csv` and small optim
  data-visualization/pages/01_User_comparisons.py
  data-visualization/utils.py
Labels: Data visualization

#1340 [infra] feat: add Plausible Analytics
  frontend/.env.development
  frontend/.env.test
  frontend/package.json
  frontend/public/index.html
  frontend/src/features/comparisonSeries/ComparisonSeries.tsx
  frontend/src/features/settings/account/DeleteAccountForm.tsx
  frontend/src/pages/signup/Signup.tsx
  frontend/src/pages/signup/Verify.tsx
  frontend/src/utils/analytics.ts
  frontend/yarn.lock
  infra/ansible/inventory.yml
  infra/ansible/roles/docker/handlers/main.yml
  infra/ansible/roles/docker/tasks/main.yml
  infra/ansible/roles/docker/templates/daemon.json.j2
  infra/ansible/roles/frontend/templates/.env.j2
  infra/ansible/roles/plausible_analytics/handlers/main.yml
  infra/ansible/roles/plausible_analytics/tasks/main.yml
  infra/ansible/roles/plausible_analytics/templates/plausible-conf.env.j2
  infra/ansible/roles/plausible_analytics/templates/plausible_analytics_secret_key.j2
  infra/ansible/roles/plausible_analytics/templates/tournesol-website-analytics.service.j2
  infra/ansible/roles/plausible_analytics/templates/website_analytics.j2
  infra/ansible/roles/repository/tasks/main.yml
  infra/ansible/scripts/deploy-without-secrets.sh
  infra/ansible/scripts/forget-secrets.sh
  infra/ansible/scripts/generate-secrets.sh
  infra/ansible/scripts/get-vm-secrets.sh
  infra/ansible/setup.yml
Labels: Frontend, Infra

#1407 [front] chore: update the OpenAPI schema
  frontend/scripts/openapi.yaml
Labels: Frontend

#1406 [ext] chore: add missing `utm_source` query parameter
  browser-extension/src/addTournesolRecommendations.js
  browser-extension/src/addVideoStatistics.js
  browser-extension/src/browserAction/menu.js
  browser-extension/src/manifest.json
Labels: Extension

#1404 add contributors metrics
  data-visualization/pages/03_Community_evolution.py
  data-visualization/utils.py
Labels: Data visualization

#1384 [front] feat: hide unavailable videos in list
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/entity/AvailableEntity.tsx
  frontend/src/components/entity/EntityCard.tsx
  frontend/src/features/entities/EntityList.tsx
  frontend/src/pages/rateLater/RateLater.tsx
Labels: Frontend

#1428 [infra] chore: monitor the web analytics server URL
  infra/ansible/inventory.yml
Labels: Infra

#1429 [dataviz] rework community evolution graph
  data-visualization/pages/03_Community_evolution.py
Labels: Data visualization

#1425 Refactoring /video/ to /polls/videos/recommendations on clicking auto button
  frontend/src/utils/video.ts
Labels: Frontend

#1418 [back] Include a metadata and remove root folder in the public dataset
  backend/ml/inputs.py
  backend/settings/settings.py
  backend/tournesol/lib/public_dataset.py
  backend/tournesol/management/commands/create_dataset.py
  backend/tournesol/tests/management/test_create_dataset.py
  backend/tournesol/tests/test_exports.py
  backend/vouch/voting_rights.py
  infra/ansible/roles/django/templates/settings.yaml.j2
Labels: Backend

#1419 [back][ext] perf: truncate dates and add caching on recommendations requests
  CONTRIBUTING.md
  backend/settings/settings.py
  backend/tournesol/tests/test_text_search.py
  backend/tournesol/views/polls.py
  browser-extension/src/background.js
  browser-extension/src/manifest.json
  frontend/src/utils/api/recommendations.tsx
  infra/ansible/roles/postgresql/templates/pg_backup.config.j2
  infra/ansible/roles/postgresql/templates/pg_backup_rotated.sh.j2
Labels: Backend, Extension

#1433 [back] add criteria display order to user settings
  backend/core/locale/fr/LC_MESSAGES/django.po
  backend/core/serializers/user_settings.py
  backend/core/tests/serializers/test_user_settings.py
  backend/core/tests/test_api_user_settings.py
  backend/tournesol/locale/fr/LC_MESSAGES/django.po
Labels: Backend

#1424 [front] feat: add Edge svg icon and fix grammar/spelling mistakes
  frontend/README.md
  frontend/public/locales/en/translation.json
  frontend/public/logos/Edge-Browser-icon-fullColor.svg
  frontend/src/pages/home/videos/sections/recommendations/UseOurExtension.tsx
  tests/cypress/e2e/frontend/recommendationsPage.cy.ts
Labels: Frontend

#1437 [front] chore: update API schema, and run i18n:parse
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/scripts/openapi.yaml
Labels: Frontend

#1445 [back] feat: add the recommendations' default filters to the settings
  backend/core/locale/fr/LC_MESSAGES/django.po
  backend/core/serializers/user_settings.py
  backend/core/tests/serializers/test_user_settings.py
  backend/core/tests/test_api_user_settings.py
  backend/tournesol/locale/fr/LC_MESSAGES/django.po
Labels: Backend

#1380 [front] chore: add `settingsSlice` to the Redux store
  frontend/src/app/store.ts
  frontend/src/features/login/loginSuccessfulListener.ts
  frontend/src/features/settings/userSettingsSlice.ts
Labels: Frontend

#1449 [front] refactor: refresh the user settings when the App component is…
  frontend/src/App.tsx
  frontend/src/app/store.ts
  frontend/src/features/login/loginSuccessfulListener.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useRefreshSettings.tsx
Labels: Frontend

#1457 [back] docs: fix broken table of content is the `README.md`
  backend/README.md
Labels: Backend, Documentation

#1458 [back] refactor: indent the `metadata.json` file of the dataset
  backend/tournesol/lib/public_dataset.py
Labels: Backend

#1460 [back] fix: comparison preview url without trailing slash
  backend/tournesol/tests/test_api_preview.py
  backend/tournesol/urls.py
Labels: Backend

#1149 [back] refactor: sync `EntityPollRating` with the API and the ML train
  backend/ml/outputs.py
  backend/tournesol/migrations/0050_add_entitypollrating_unique_together.py
  backend/tournesol/migrations/0051_migrate_ratings_to_its_own_model.py
  backend/tournesol/models/entity.py
  backend/tournesol/models/entity_poll_rating.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/tests/test_ml_run.py
  backend/tournesol/views/comparison.py
Labels: Backend, Core Refactor

#1464 [back] feat: add `EntityPollRating` to the admin interface
  backend/tournesol/admin.py
Labels: Backend

#1476 [ext][front] chore: update the URLs of the research study
  browser-extension/src/addTournesolRecommendations.js
  browser-extension/src/manifest.json
  frontend/src/pages/home/banners/TempStudyBanner.tsx
Labels: Frontend, Extension

#1477 [ext] feat: don't block users when the /proof API doesn't work
  browser-extension/src/addTournesolRecommendations.js
  browser-extension/src/manifest.json
Labels: Extension

#1470 [front] feat: users can skip the tutorial
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/DialogBox.tsx
  frontend/src/features/comparisonSeries/ComparisonSeries.tsx
  frontend/src/pages/comparisons/Comparison.tsx
  frontend/src/utils/analytics.ts
  frontend/src/utils/comparisonSeries/skip.ts
Labels: Frontend

#1481 [back] fix: server error on video preview when duration is null
  backend/tournesol/serializers/metadata.py
  backend/tournesol/tests/test_api_preview.py
  backend/tournesol/views/preview.py
Labels: Bug, Backend
