Repository tournesol-app/tournesol, pull requests merged in 2023-04, with the labels that each got.

#1450 [back] fix: delay user deletion to avoid conflicts with score computations
  backend/core/management/commands/delete_inactive_users.py
  backend/core/tests/management/test_delete_inactive_users.py
  backend/ml/inputs.py
  backend/tournesol/lib/public_dataset.py
  backend/tournesol/tests/test_api_contributor_recommendations.py
  backend/tournesol/tests/test_api_user.py
  backend/tournesol/views/contributor_recommendations.py
  backend/tournesol/views/stats.py
  backend/tournesol/views/user.py
  backend/vouch/serializers.py
  backend/vouch/tests/test_api_voucher.py
  backend/vouch/trust_algo.py
  backend/vouch/views.py
Labels: Backend

#1442 [back] chore: Document and refresh dependencies of the backend
  backend/dev-env/selenium/Tournesol.side
  backend/documentation/python_dependency.md
  backend/pytest.ini
  backend/requirements.txt
  backend/settings/settings.py
  backend/tournesol/tests/test_exports.py
  backend/tournesol/tests/utils/mock_now.py
  backend/twitterbot/twitter_api.py
  backend/vouch/tests/test_trust_algo.py
Labels: Backend

#1479 [extension] replace the setInterval by a more robust solution and separate addTournesolRecommendations into multiple files.
  browser-extension/.eslintrc.json
  browser-extension/src/addTournesolRecommendations.js
  browser-extension/src/manifest.json
  browser-extension/src/models/banner/Banner.js
  browser-extension/src/models/banner/BannerOptions.js
  browser-extension/src/models/tournesolComponent/TournesolComponent.js
  browser-extension/src/models/tournesolRecommendations/TournesolRecommendations.js
  browser-extension/src/models/tournesolRecommendations/TournesolRecommendationsOptions.js
  browser-extension/src/models/tournesolRecommendations/TournesolSearchRecommendations.js
  browser-extension/src/models/tournesolVideosBox/TournesolVideosBox.js
  browser-extension/src/utils.js
  tests/cypress/e2e/browser-extension/extension.cy.ts
Labels: Extension

#1473 [extension] simplify iframe usage
  browser-extension/src/addModal.js
  browser-extension/src/html/tournesol-iframe.css
  browser-extension/src/html/tournesol-iframe.html
  browser-extension/src/manifest.json
Labels: Extension

#1505 [front] fix: syntax error generated by openapi typescript codegen
  frontend/scripts/generate-services-from-openapi.sh
  frontend/scripts/openapi.yaml
  frontend/scripts/patches/BlankEnum.ts
Labels: Bug, Frontend

#1506 [back] fix: initialize settings scope if it's not defined yet when patching user settings
  backend/core/serializers/user_settings.py
  backend/core/tests/test_api_user_settings.py
Labels: Bug, Backend

#1501 [front] feat: add user's preferences page & form
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/App.tsx
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.spec.tsx
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.tsx
  frontend/src/features/settings/userSettingsSlice.ts
  frontend/src/pages/settings/preferences/Preferences.tsx
  frontend/src/utils/constants.tsx
  frontend/src/utils/menus.tsx
Labels: Frontend

#1509 [dev-env] docs: more docker commands in the readme
  dev-env/README.md
Labels: Documentation

#1512 [front] chore: clear user's settings in the store after a logout
  frontend/src/features/settings/userSettingsSlice.ts
  frontend/src/hooks/useLoginState.ts
Labels: Frontend

#1513 [ext][front] feat: display the research banner until 2023/05/20
  browser-extension/src/addTournesolRecommendations.js
  frontend/src/pages/home/banners/TempStudyBanner.tsx
Labels: Frontend, Extension

#1516 [ext] fix: the research banner is now properly displayed
  browser-extension/src/addTournesolRecommendations.js
  browser-extension/src/manifest.json
Labels: Bug, Extension

#1515 [back] refactor: more friendly datetime in the `EntityPollRating` admin
  backend/tournesol/admin.py
  backend/tournesol/entities/video.py
Labels: Backend

#1431 [front] display unavailable video message on comparison page for unavaible video
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/entity/AvailableEntity.tsx
  frontend/src/components/entity/EntityCard.tsx
  frontend/src/components/entity/EntityImagery.tsx
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/entities/EntityList.tsx
  frontend/src/features/entity_selector/EntitySelector.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useEntityAvailable.ts
Labels: Frontend

#1524 [front] lint: remove unused variable in `<QuestionRow>`
  frontend/src/pages/about/Donate.tsx
Labels: Frontend

#1523 [ext] fix: rate buttons sometimes not displayed on YT video page
  browser-extension/src/addRateButtons.js
  browser-extension/src/manifest.json
Labels: Bug, Extension

#1492 [front] feat: add a weekly collective goal widget in the comparison UI
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/app/store.ts
  frontend/src/features/comparisons/ComparisonSliders.tsx
  frontend/src/features/comparisons/statsSlice.ts
  frontend/src/features/goals/CollectiveGoalWeeklyProgress.tsx
  frontend/src/features/goals/collective.tsx
  frontend/src/features/statistics/UsageStatsSection.tsx
  frontend/src/features/statistics/stats.tsx
  frontend/src/pages/about/PublicDownloadSection.tsx
  frontend/src/pages/comparisons/Comparison.tsx
  frontend/src/pages/home/videos/HomeVideos.tsx
  frontend/src/pages/home/videos/sections/ComparisonSection.tsx
  frontend/src/pages/home/videos/sections/recommendations/RecommendationsSection.tsx
  frontend/src/utils/api/stats.ts
  frontend/src/utils/types.ts
Labels: Frontend, UX

#1521 [back] feat: add the command watch_account_number
  backend/core/management/commands/watch_account_number.py
  backend/core/tests/management/test_watch_account_number.py
  backend/core/utils/email_domain.py
Labels: Backend

#1530 [infra] sec: run manage.py watch_account_number with a scheduled task
  infra/ansible/inventory.yml
  infra/ansible/roles/django/tasks/main.yml
  infra/ansible/roles/django/templates/tournesol-api-watch-account-number-yesterday.service.j2
  infra/ansible/roles/django/templates/tournesol-api-watch-account-number-yesterday.timer.j2
Labels: Infra, Security
