Repository tournesol-app/tournesol, pull requests merged in 2023-01, with the labels that each got.

#1269 [infra] fix: ensure that discord alert script runs with necessary permissions in Systemd services
  infra/ansible/roles/postgresql/templates/pg-backups.service.j2
Labels: Bug, Infra

#1283 Add youtube playlist link in the footer
  frontend/src/features/frame/components/footer/Footer.tsx
  frontend/src/utils/url.ts
Labels: Frontend

#1285 [infra] fix: update the grafana rapository URL
  infra/ansible/roles/monitoring/tasks/main.yml
Labels: Bug, Infra

#1286 [front] fix: use Playlist YouTube instead of YT Playlist in french
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/frame/components/footer/Footer.tsx
Labels: Frontend

#1254 [front] sec: set the frame-ancestors CSP directive
  infra/ansible/inventory.yml
  infra/ansible/roles/django/templates/tournesol.j2
  infra/ansible/roles/frontend/templates/.env.j2
  tests/cypress/integration/frontend/security/contentSecurityPolicy.ts
Labels: Frontend, Infra, Security

#1292 [back] feat: search comparisons by user and entities in admin
  backend/tournesol/admin.py
Labels: Backend

#1301 Typo on front page
  frontend/public/locales/fr/translation.json
Labels: Frontend

#1302 Replace link to YouTube by link to Tournesol in admin
  backend/tournesol/admin.py
  backend/tournesol/models/entity.py
  backend/twitterbot/admin.py
Labels: Backend

#1306 [back] fix: do not bypass the `format_html` logic
  backend/tournesol/models/entity.py
  backend/twitterbot/admin.py
Labels: Bug, Backend

#1303 Improve "email considered trusted" wording
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
Labels: Frontend, UX

#1305 [front] fix: ignore pre-commit hook if yarn is absent and support running hook in dev-env
  frontend/.husky/pre-commit
Labels: Bug, CI

#1287 [front] style: remove the home page background alternation
  frontend/src/components/TitledPaper.tsx
  frontend/src/features/frame/components/footer/Footer.tsx
  frontend/src/features/recommendation/subset/RecommendationsSubset.tsx
  frontend/src/pages/about/About.tsx
  frontend/src/pages/faq/FAQTableOfContent.tsx
  frontend/src/pages/home/AlternatingBackgroundColorSectionList.tsx
  frontend/src/pages/home/presidentielle2022/HomePresidentielle2022.tsx
  frontend/src/pages/home/videos/HomeVideos.tsx
  frontend/src/pages/home/videos/sections/ComparisonSection.tsx
  frontend/src/pages/home/videos/sections/SectionTitle.tsx
  frontend/src/pages/home/videos/sections/recommendations/RecommendationsSection.tsx
  frontend/src/pages/home/videos/sections/recommendations/UseOurExtension.tsx
  frontend/src/theme.ts
Labels: Frontend

#1308 [front] fix: `bgcolor` in the about page not properly set
  frontend/src/pages/about/About.tsx
Labels: Bug, Frontend

#1291 [front] feat: add a funding section on the home page
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/pages/home/videos/HomeVideos.tsx
  frontend/src/pages/home/videos/sections/FundingSection.tsx
Labels: Frontend

#1309 [front] fix: incorrect donate link on the home page
  frontend/src/pages/home/videos/sections/FundingSection.tsx
Labels: Bug, Frontend

#1318 [back] fix: server error on search where total criteria weights is zero
  backend/tournesol/tests/test_text_search.py
  backend/tournesol/views/polls.py
Labels: Bug, Backend

#1297 [back] feat: add the user settings API
  backend/core/locale/fr/LC_MESSAGES/django.po
  backend/core/serializers/user_settings.py
  backend/core/tests/serializers/__init__.py
  backend/core/tests/serializers/test_user_settings.py
  backend/core/tests/test_api_user_settings.py
  backend/core/urls/__init__.py
  backend/core/urls/user_settings.py
  backend/core/views/user_settings.py
  backend/tournesol/urls.py
  frontend/scripts/openapi.yaml
Labels: Backend

#1314 [front] feat: about section for significant contributors
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/public/people/sergia.jpg
  frontend/public/people/sigmike.png
  frontend/src/pages/about/About.tsx
Labels: Frontend

#1312 [back] feat: add video duration in entity preview
  backend/tournesol/resources/Roboto-Bold.ttf
  backend/tournesol/tests/test_api_preview.py
  backend/tournesol/views/preview.py
Labels: Backend
