Repository tournesol-app/tournesol, pull requests merged in 2023-02, with the labels that each got.

#1325 [back] feat: the rate-later auto remove is now connected to the user settings
  backend/tournesol/models/entity.py
  backend/tournesol/models/rate_later.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/tests/test_api_rate_later.py
Labels: Backend

#1330 [back] fix: `load_public_dataset` should not expect 'weight' in public comparisons file
  backend/tournesol/management/commands/load_public_dataset.py
  backend/tournesol/tests/test_load_public_dataset.py
Labels: Bug, Backend

#1334 [back] sec: upgrade Django to 4.0.9 (from 4.0.8)
  backend/requirements.txt
Labels: Backend, Security

#1311 [back] feat: Generate and tweet montly Top contributor figure
  backend/requirements.txt
  backend/tournesol/resources/Logo128.png
  backend/twitterbot/management/commands/tweet_top_contibutors.py
  backend/twitterbot/settings.py
  backend/twitterbot/tests/test_tournesolbot.py
  backend/twitterbot/tournesolbot.py
  backend/twitterbot/twitter_api.py
Labels: Backend, twitter-bot

#1335 Fix top contributors fig
  backend/twitterbot/management/commands/tweet_top_contributors.py
  backend/twitterbot/tournesolbot.py
Labels: Backend, twitter-bot

#1337 [back] Fix deadlock between comparison and ml
  backend/ml/outputs.py
  backend/tournesol/views/comparison.py
Labels: Bug, Backend

#1339 [back] Set black line length in toml file
  backend/pyproject.toml
Labels: Backend

#1346 Fix extension's iframe event listener not removed
  browser-extension/src/addModal.js
  browser-extension/src/manifest.json
Labels: Bug, Extension

#1349 [dataviz] Update streamlit to version 1.18.0
  data-visualization/requirements.txt
  data-visualization/utils.py
Labels: Data visualization

#1355 [infra] feat: add the top contributors tweet service
  infra/ansible/inventory.yml
  infra/ansible/roles/django/tasks/main.yml
  infra/ansible/roles/django/templates/tournesol-twitterbot-top-contributors.service.j2
  infra/ansible/roles/django/templates/tournesol-twitterbot-top-contributors.timer.j2
Labels: Infra, twitter-bot

#1350 [dataviz] Add a video podium and more filters in the sidebar
  data-visualization/pages/02_Videos_and_channels.py
  data-visualization/requirements.txt
  data-visualization/utils.py
Labels: Data visualization

#1358 [dataviz] fix: Pandas and Steamlit warnings
  data-visualization/pages/02_Videos_and_channels.py
Labels: Data visualization

#1365 [back] sec: upgrade Django to 4.0.10 (from 4.0.9)
  backend/requirements.txt
Labels: Backend, Security

#1363 [dataviz] Fix: streamlit warning comparison page
  data-visualization/pages/01_User_comparisons.py
Labels: Data visualization

#1357 [ext] feat: display videos' views and publication date
  browser-extension/src/addTournesolRecommendations.css
  browser-extension/src/addTournesolRecommendations.js
  browser-extension/src/manifest.json
Labels: Extension

#1366 [back] refactor: Add `time_ahead` function and harmonize
  backend/core/tests/management/test_delete_inactive_users.py
  backend/core/utils/tests/test_time.py
  backend/core/utils/time.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/tests/test_api_inconsistencies.py
  backend/tournesol/tests/test_api_ratings.py
  backend/tournesol/tests/test_api_statistics.py
Labels: Backend

#1367 [back] fix: double import in `test_tournesolbot.py`
  backend/twitterbot/tests/test_tournesolbot.py
Labels: Backend, twitter-bot

#1278 Auto fill empty entity selectors in comparison
  backend/dev-env/settings-tournesol.yaml
  backend/settings/settings.py
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/entity_selector/AutoEntityButton.tsx
  frontend/src/features/entity_selector/EntitySelector.tsx
  tests/cypress/integration/frontend/comparisonPage.ts
  tests/cypress/integration/frontend/home.ts
Labels: Frontend

#1361 [back] feat: add a command able to monitor trusted accounts created
  backend/core/management/commands/watch_account_creation.py
  backend/core/tests/management/test_watch_account_creation.py
  backend/core/utils/email_domain.py
  backend/core/utils/tests/test_email_domain.py
Labels: Backend, Infra

#1324 [back] feat: add week_date in public export
  backend/tournesol/lib/public_dataset.py
  backend/tournesol/tests/test_exports.py
  backend/tournesol/tests/test_load_public_dataset.py
  backend/tournesol/tests/utils/__init__.py
  backend/tournesol/tests/utils/mock_now.py
  infra/ansible/inventory.yml
Labels: Backend

#1362 [front] feat: rework the donation page layout
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/public/logos/PayPal_Logo.svg
  frontend/public/logos/UTip_Logo.png
  frontend/public/logos/uTip_Logo.png
  frontend/src/pages/about/Donate.tsx
  frontend/src/pages/home/videos/sections/FundingSection.tsx
  frontend/src/pages/home/videos/sections/SectionTitle.tsx
  frontend/src/utils/url.ts
Labels: Frontend

#1352 [back] ml: rename 'supertrusted' into 'scaling-calibration' users, sync definition with latest paper
  backend/core/models/user.py
  backend/ml/inputs.py
  backend/ml/mehestan/global_scores.py
  backend/ml/mehestan/run.py
  backend/tournesol/suggestions/suggestionprovider.py
  backend/tournesol/tests/test_exports.py
  backend/tournesol/tests/test_ml_run.py
Labels: Backend

#1371 [back] refactor: `get_comparisons_data` now takes a datetime as argument
  backend/tournesol/lib/public_dataset.py
  backend/tournesol/management/commands/create_dataset.py
  backend/tournesol/tests/test_exports.py
  backend/tournesol/tests/test_load_public_dataset.py
  backend/tournesol/views/exports.py
Labels: Backend

#1369 [back] docs: explain every column of every file of the public export
  backend/tournesol/resources/export_readme.txt
Labels: Backend, Documentation

#1376 [front] feat: `<TitledPaper>` can now be scrolled into
  frontend/src/components/TitledPaper.tsx
  frontend/src/components/index.ts
  frontend/src/features/frame/components/footer/Footer.tsx
  frontend/src/pages/about/Donate.tsx
Labels: Frontend

#1378 [back] feat: add a `LICENSE.txt` file in the dataset archive
  backend/tournesol/management/commands/create_dataset.py
  backend/tournesol/resources/export_odc_by_1.0_public_text.txt
  backend/tournesol/resources/export_readme.txt
  backend/tournesol/tests/test_exports.py
Labels: Backend

#1377 [back] refactor: round floating point numbers of the dataset
  backend/tournesol/lib/public_dataset.py
  backend/tournesol/tests/test_exports.py
  backend/tournesol/tests/test_utils_contributors.py
Labels: Backend

#1386 [infra] Add timers to watch account creation
  infra/ansible/inventory.yml
  infra/ansible/roles/django/tasks/main.yml
  infra/ansible/roles/django/templates/settings.yaml.j2
  infra/ansible/roles/django/templates/tournesol-api-watch-account-creation-1h.timer.j2
  infra/ansible/roles/django/templates/tournesol-api-watch-account-creation-24h.timer.j2
  infra/ansible/roles/django/templates/tournesol-api-watch-account-creation.service.j2
  infra/ansible/scripts/deploy-without-secrets.sh
  infra/ansible/scripts/forget-secrets.sh
  infra/ansible/scripts/get-vm-secrets.sh
Labels: Infra

#1379 [front] feat: add the search bar on mobile
  frontend/src/features/frame/components/topbar/AccountInfo.tsx
  frontend/src/features/frame/components/topbar/Logo.tsx
  frontend/src/features/frame/components/topbar/LogoutActions.tsx
  frontend/src/features/frame/components/topbar/Search.tsx
  frontend/src/features/frame/components/topbar/TopBar.tsx
  frontend/src/features/frame/components/topbar/TopBarDesktop.tsx
  frontend/src/features/frame/components/topbar/TopBarMobile.tsx
Labels: Frontend, UX
