Repository tournesol-app/tournesol, pull requests merged in 2023-10, with the labels that each got.

#1805 [back] sec: upgrade Django to 4.1.12 (from 4.1.11)
  backend/requirements.txt
Labels: Backend, Security

#1784 [ext] fix: remove unecessary browser alerts
  browser-extension/src/manifest.json
  browser-extension/src/utils.js
Labels: Bug, Extension

#1807 [ext] refactor: stop using the legacy fields
  browser-extension/src/manifest.json
  browser-extension/src/models/tournesolVideoCard/TournesolVideoCard.js
Labels: Extension

#1765 [back] feat: add the sub-samples API
  backend/tournesol/serializers/subsample.py
  backend/tournesol/tests/test_api_subsamples.py
  backend/tournesol/urls.py
  backend/tournesol/views/subsamples.py
  frontend/scripts/openapi.yaml
Labels: Backend

#1808 [front] Adapt rate-later page to display RatingControlon (with nb of comparisons) on cards
  frontend/src/components/entity/EntityCard.tsx
  frontend/src/features/entities/EntityList.tsx
  frontend/src/features/entity_selector/EntitySelector.tsx
  frontend/src/features/ratings/MarkAllRatings.tsx
  frontend/src/features/ratings/RatingControl.tsx
  frontend/src/features/ratings/RatingsFilter.tsx
  frontend/src/pages/rateLater/RateLater.tsx
  frontend/src/pages/videos/VideoRatings.tsx
Labels: Frontend

#1783 [front] feat: add the sub-sample tab to the entity selector
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/entity/EntityCard.tsx
  frontend/src/components/entity/EntityCardScores.tsx
  frontend/src/components/entity/EntityIndividualScores.tsx
  frontend/src/components/entity/TournesolScore.tsx
  frontend/src/features/entity_selector/EntitySelectButton.tsx
  frontend/src/features/entity_selector/EntityTabsBox.tsx
Labels: Frontend
