Repository tournesol-app/tournesol, pull requests merged in 2023-06, with the labels that each got.

#1595 solves unmounting and memory leak issues of ComparisonSeries
  frontend/src/features/comparisonSeries/ComparisonSeries.tsx
Labels: Bug, Frontend

#1572 [front] fix: remove extra HTTP request made by VideosPollUserSettingsForm
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.spec.tsx
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.tsx
  frontend/src/pages/settings/preferences/Preferences.spec.tsx
  frontend/src/pages/settings/preferences/Preferences.tsx
Labels: Bug, Frontend

#1604 [front] fix: link to preferences now properly redirects to the preferences
  frontend/src/components/buttons/PreferencesIconButtonLink.tsx
Labels: Bug, Frontend

#1608 [back] fix: server errors on recommendation and preview when duration filter is empty
  backend/tournesol/entities/base.py
  backend/tournesol/tests/test_api_polls.py
  backend/tournesol/tests/test_api_preview.py
  backend/tournesol/views/preview_recommendations.py
Labels: Bug, Backend

#1616 [front] refactor: add a floating action button in the Preferences page
  frontend/src/features/frame/components/footer/Footer.tsx
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.tsx
Labels: Frontend, UX

#1617 Better "Rate Later" button: checkmark icon when done
  browser-extension/src/addRateButtons.js
  browser-extension/src/images/checkmark.svg
Labels: Extension

#1619 [infra][frontend] chore: Upgrade Node.js version from 14 to 18
  .github/workflows/browser-extension-ci.yml
  .github/workflows/frontend-ci.yml
  dev-env/docker-compose.yml
  frontend/README.md
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/LanguageSelector.tsx
  frontend/src/features/frame/components/footer/FooterSection.tsx
  frontend/src/features/recommendation/subset/RecommendationsSubset.tsx
  frontend/src/hooks/useCurrentPoll.tsx
  frontend/yarn.lock
  infra/ansible/inventory.yml
Labels: Frontend, Infra

#1598 [front] feat: configurable criteria order and default display
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/comparisons/CriteriaSlider.tsx
  frontend/src/features/frame/components/footer/Footer.tsx
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.tsx
  frontend/src/features/settings/preferences/fields/ComparisonOptionalCriteriaDisplayed.tsx
  frontend/src/pages/settings/account/Account.tsx
  frontend/src/pages/settings/layout.ts
  frontend/src/pages/settings/preferences/Preferences.tsx
  frontend/src/pages/settings/profile/Profile.tsx
Labels: Frontend

#1623 [tests] e2e: add test for criteria order setting
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/settings/preferences/fields/ComparisonOptionalCriteriaDisplayed.tsx
  tests/cypress/e2e/frontend/settingsPreferencesPage.cy.ts
Labels: Frontend: tests

#1624 [front] refactor: remove anchors in faq url for previews
  frontend/src/pages/faq/FAQ.tsx
  frontend/src/pages/faq/FAQSingleEntry.tsx
  frontend/src/pages/faq/FAQTableOfContent.tsx
Labels: Frontend

#1609 [back] feat: dynamic preview for FAQ links
  backend/tournesol/urls.py
  backend/tournesol/views/preview.py
  backend/tournesol/views/preview_faq.py
  backend/tournesol/views/preview_recommendations.py
Labels: Backend

#1626 [meta] docs: update CONTRIBUTING and README
  CONTRIBUTING.md
  README.md
Labels: Meta, Documentation

#1511 [front] feat: add the page terms of service
  LICENSE.md
  frontend/README.md
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/App.tsx
  frontend/src/features/frame/components/footer/Footer.tsx
  frontend/src/pages/about/TermsOfService/TermsOfService.tsx
  frontend/src/pages/about/TermsOfService/sections/AcceptableUse.tsx
  frontend/src/pages/about/TermsOfService/sections/AccountTerms.tsx
  frontend/src/pages/about/TermsOfService/sections/CancellationAndTermination.tsx
  frontend/src/pages/about/TermsOfService/sections/ChangesToTheseTerms.tsx
  frontend/src/pages/about/TermsOfService/sections/CommunicationsWithAssociation.tsx
  frontend/src/pages/about/TermsOfService/sections/Definitions.tsx
  frontend/src/pages/about/TermsOfService/sections/Moderation.tsx
  frontend/src/pages/signup/Signup.tsx
  frontend/src/utils/url.ts
Labels: Frontend

#1634 [front] style: improve the look of the Terms of Service
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/pages/about/TermsOfService/TermsOfService.tsx
  frontend/src/pages/about/TermsOfService/sections/Definitions.tsx
Labels: Bug, Frontend, UX

#1547 [front] feat: add a page listing the Tournesol Talks
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/App.tsx
  frontend/src/components/TitledSection.tsx
  frontend/src/features/frame/components/footer/Footer.tsx
  frontend/src/pages/talks/TalkEntryList.tsx
  frontend/src/pages/talks/TalkSingleEntry.tsx
  frontend/src/pages/talks/Talks.tsx
  frontend/src/services/mocks/TalkEntry.ts
  frontend/src/services/mocks/TalkEntryList.ts
  frontend/src/services/mocks/TalksService.ts
  frontend/src/services/mocks/index.ts
  frontend/src/services/mocks/talks.json
  frontend/src/utils/types.ts
Labels: Frontend

#1640 [front] fix: move the folder `mocks` out of src/service...
  frontend/src/mocks/TalkEntry.ts
  frontend/src/mocks/TalkEntryList.ts
  frontend/src/mocks/TalksService.ts
  frontend/src/mocks/index.ts
  frontend/src/mocks/talks.json
  frontend/src/pages/talks/TalkEntryList.tsx
  frontend/src/pages/talks/TalkSingleEntry.tsx
  frontend/src/pages/talks/Talks.tsx
Labels: Bug, Frontend

#1638 [solidago] add LGPL license
  LICENSE.md
  docs/logos/lgplv3-with-text-154x68.png
  solidago/LICENSE
  solidago/LICENSE.LESSER
  solidago/README.md
  solidago/pyproject.toml
  solidago/src/solidago/__version__.py
Labels: Solidago

#1637 [back] feat: add email notifications settings
  backend/core/serializers/user_settings.py
  backend/core/tests/test_api_user_settings.py
  frontend/scripts/openapi.yaml
  frontend/src/pages/comparisons/Comparison.tsx
  frontend/src/pages/rateLater/RateLater.tsx
  frontend/src/utils/types.ts
  frontend/src/utils/userSettings.ts
Labels: Backend

#1641 [solidago] fix missing license classifier in package
  solidago/pyproject.toml
  solidago/src/solidago/__version__.py
Labels: Solidago

#1639 [front] style: improve the look of the Privacy Policy
  frontend/public/locales/fr/translation.json
  frontend/src/pages/about/PrivacyPolicy.tsx
Labels: Frontend, UX

#1643 [front] refactor: move videos poll settings form in a more global settings form
  frontend/src/features/settings/preferences/TournesolUserSettingsForm.spec.tsx
  frontend/src/features/settings/preferences/TournesolUserSettingsForm.tsx
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.tsx
  frontend/src/pages/settings/preferences/Preferences.tsx
Labels: Frontend

#1650 [back] fix: TalkEntry.name was not supporting all title lengths
  backend/backoffice/admin.py
  backend/backoffice/migrations/0006_name_now_handles_all_titles.py
  backend/backoffice/models.py
  backend/backoffice/tests/models/test_talk.py
Labels: Bug, Backend

#1647 [front] feat: add notifications settings to the general settings form
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/settings/preferences/GeneralUserSettingsForm.tsx
  frontend/src/features/settings/preferences/TournesolUserSettingsForm.spec.tsx
  frontend/src/features/settings/preferences/TournesolUserSettingsForm.tsx
  frontend/src/features/settings/preferences/fields/NotificationsEmailNewFeatures.tsx
  frontend/src/features/settings/preferences/fields/NotificationsEmailResearch.tsx
Labels: Frontend

#1653 [front] style: harmonize and simplify the layout of the settings pages
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/SettingsSection.tsx
  frontend/src/features/settings/preferences/TournesolUserSettingsForm.tsx
  frontend/src/pages/settings/account/Account.tsx
  frontend/src/pages/settings/layout.ts
  frontend/src/pages/settings/profile/Profile.tsx
Labels: Frontend

#1656 [back] feat: /accounts/register/ can now officially save user settings
  backend/core/serializers/user.py
  backend/core/serializers/user_settings.py
  backend/core/tests/test_api_accounts.py
Labels: Backend

#1649 [front] chore: connect the front end to the Talks API
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/scripts/openapi.yaml
  frontend/src/features/frame/components/footer/Footer.tsx
  frontend/src/mocks/TalkEntry.ts
  frontend/src/mocks/TalkEntryList.ts
  frontend/src/mocks/TalksService.ts
  frontend/src/mocks/index.ts
  frontend/src/mocks/talks.json
  frontend/src/pages/talks/TalkEntryList.tsx
  frontend/src/pages/talks/TalkSingleEntry.tsx
  frontend/src/pages/talks/Talks.tsx
  frontend/src/pages/talks/parameters.ts
  frontend/src/utils/datetime.tsx
  frontend/src/utils/url.ts
Labels: Frontend
