Repository tournesol-app/tournesol, pull requests merged in 2024-12, with the labels that each got.

#2036 [back] sec: upgrade Django to 4.2.17 from 4.2.16
  backend/requirements.txt
Labels: Backend, Security

#2037 feat: render html meta tags in Django, with video metadata for entity pages
  backend/settings/settings.py
  backend/settings/urls.py
  backend/ssr/__init__.py
  backend/ssr/apps.py
  backend/ssr/templates/opengraph/meta_tags.html
  backend/ssr/tests.py
  backend/ssr/urls.py
  backend/ssr/views.py
  backend/tournesol/models/entity.py
  backend/tournesol/tests/test_api_preview.py
  backend/tournesol/views/previews/default.py
  backend/twitterbot/admin.py
  frontend/index.html
  infra/ansible/roles/django/templates/settings.yaml.j2
  infra/ansible/roles/django/templates/tournesol.j2
Labels: Backend, Frontend, Infra

#2038 [back] feat: new entity preview
  backend/tournesol/resources/Poppins-Bold.ttf
  backend/tournesol/views/previews/default.py
  backend/tournesol/views/previews/entities.py
Labels: Backend

#2040 [back] fix: settings migration not properly applied
  backend/core/migrations/0017_reset_setting_exclude_compared.py
Labels: Bug, Backend

#2041 Solidago: Fixed toy.json which had deprecated arguments
  solidago/experiments/toy.json
Labels: Solidago
