Repository tournesol-app/tournesol, pull requests merged in 2024-04, with the labels that each got.

#1918 [front] feat: add search in entity selector
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/LoaderWrapper.tsx
  frontend/src/components/entity/EntityMetadata.tsx
  frontend/src/features/entity_selector/EntitySearchInput.tsx
  frontend/src/features/entity_selector/EntitySelectButton.tsx
  frontend/src/features/entity_selector/EntityTabsBox.tsx
  frontend/src/features/entity_selector/EntityTextInput.tsx
  frontend/src/theme.ts
  tests/cypress/e2e/frontend/comparisonPage.cy.ts
Labels: Frontend

#1950 [front] feat: replace message with loader when a video is being loaded during swipe
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/comparisons/Comparison.tsx
Labels: Frontend

#1949 [front] refactor: simplify AutoEntityButton and EntitySelector
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/entity_selector/AutoEntityButton.tsx
  frontend/src/features/entity_selector/EntitySelector.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useSuggestions.ts
Labels: Frontend

#1951 [front] feat: make tutorial tips more compact on mobile
  frontend/src/features/entity_selector/EntitySelector.tsx
  frontend/src/features/tips/Tip.tsx
Labels: Frontend

#1930 [front] feat: swipe up to refresh videos in comparison page
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/comparisons/ComparisonEntityContexts.tsx
  frontend/src/features/entity_selector/AutoEntityButton.tsx
  frontend/src/features/entity_selector/EntitySelector.tsx
  frontend/src/features/goals/CollectiveGoalWeeklyProgress.tsx
  frontend/src/features/tips/Tip.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useSuggestions.ts
  frontend/src/index.css
  frontend/yarn.lock
Labels: Frontend

#1953 [front] update style of ContentHeader and remove fixed height
  frontend/src/components/ContentBox.tsx
  frontend/src/components/ContentHeader.tsx
Labels: Frontend

#1948 [front] feat: add link to page "actions" in footer
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/frame/components/footer/Footer.tsx
Labels: Frontend

#1955 Added 2024 papers (GBT + Mehestan)
  frontend/src/pages/home/videos/sections/research/ScientificLiteratureBox.tsx
Labels: Frontend

#1956 [front] feat: make `UidHistory` able to append entries to both ends
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/entity_selector/EntitySelectButton.tsx
  frontend/src/features/entity_selector/EntitySelector.tsx
  frontend/src/features/suggestions/uidHistory.spec.ts
  frontend/src/features/suggestions/uidHistory.ts
  frontend/src/hooks/useSuggestions.ts
  frontend/src/pages/home/videos/sections/HomeComparison.tsx
Labels: Frontend

#1959 [solidago] optim: avoid creating Series on every iteration in `AffineOvertrust`
  solidago/src/solidago/__version__.py
  solidago/src/solidago/voting_rights/affine_overtrust.py
  solidago/tests/test_voting_rights.py
Labels: Solidago

#1957 [back] feat: add vouchers.csv in public dataset
  backend/tournesol/lib/public_dataset.py
  backend/tournesol/management/commands/create_dataset.py
  backend/tournesol/management/commands/load_public_dataset.py
  backend/tournesol/resources/export_readme.txt
  backend/tournesol/tests/management/test_create_dataset.py
  backend/tournesol/tests/test_exports.py
  solidago/src/solidago/pipeline/inputs.py
Labels: Backend, Solidago

#1961 [back] feat: /tocompare/ API uses the user's preferred languages
  backend/core/models/user.py
  backend/tournesol/lib/suggestions/strategies/base.py
  backend/tournesol/lib/suggestions/strategies/tocompare/classic.py
  backend/tournesol/tests/lib/suggestions/test_tocompare_classic.py
  backend/tournesol/tests/test_api_suggestions_tocompare.py
  backend/tournesol/tests/test_utils_http.py
  backend/tournesol/utils/http.py
  backend/tournesol/views/suggestions/to_compare.py
Labels: Backend

#1954 [front] feat: swipe down to go back in the history
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/entity_selector/EntitySelectButton.tsx
  frontend/src/features/entity_selector/EntitySelector.tsx
  frontend/src/features/rateLater/autoSuggestions.ts
  frontend/src/features/suggestions/suggestionHistory.spec.ts
  frontend/src/features/suggestions/suggestionHistory.ts
  frontend/src/features/suggestions/suggestionPool.spec.ts
  frontend/src/features/suggestions/suggestionPool.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useLoginState.ts
  frontend/src/hooks/useSuggestions.ts
  frontend/src/utils/video.ts
Labels: Frontend
