Repository tournesol-app/tournesol, pull requests merged in 2024-05, with the labels that each got.

#1967 [back] chore: clarity instructions about secret key configuration
  backend/dev-env/settings-tournesol.yaml
  backend/documentation/settings-tournesol.yaml
  backend/settings/settings.py
Labels: Backend

#1962 [front] fix: do not truncate individual scores and context chips
  frontend/src/components/entity/EntityCard.tsx
  frontend/src/components/entity/EntityMetadata.tsx
  frontend/src/features/entity_selector/EntitySearchInput.tsx
  frontend/src/features/entity_selector/EntitySelectButton.tsx
  frontend/src/features/entity_selector/EntityTabsBox.tsx
  frontend/src/features/videos/VideoCard.spec.tsx
Labels: Bug, Frontend

#1976 [front] style: smaller top bar on mobile (and more)
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/frame/components/footer/Footer.tsx
  frontend/src/features/frame/components/topbar/AccountInfo.tsx
  frontend/src/features/frame/components/topbar/Logo.tsx
  frontend/src/features/frame/components/topbar/TopBar.tsx
  frontend/src/features/frame/components/topbar/TopBarDesktop.tsx
  frontend/src/features/frame/components/topbar/TopBarMobile.tsx
  frontend/src/features/statistics/UsageStatsSection.tsx
  frontend/src/index.css
  frontend/src/pages/home/videos/HomeVideos.tsx
Labels: Frontend
