Repository tournesol-app/tournesol, pull requests merged in 2024-01, with the labels that each got.

#1865 [back][front] feat: display context alerts in /comparisons/
  backend/tournesol/models/poll.py
  backend/tournesol/serializers/comparison.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/views/comparison.py
  frontend/scripts/openapi.yaml
  frontend/src/components/entity/EntityCard.tsx
  frontend/src/features/comparisons/ComparisonList.tsx
Labels: Backend, Frontend

#1874 [ext] fix: avoid repeated calls to initialize Home and Search Recommendations
  browser-extension/package.json
  browser-extension/src/displayHomeRecommendations.js
  browser-extension/src/displaySearchRecommendations.js
Labels: Bug, Extension

#1870 [front] feat: display entity context Chip in the entity selector
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/entity/EntityCard.tsx
  frontend/src/components/entity/EntityContextChip.tsx
  frontend/src/components/entity/EntityIndividualScores.tsx
  frontend/src/features/comparisons/Comparison.tsx
Labels: Frontend

#1876 [back][ext] feat: recommendations API can now return random entities
  backend/tournesol/serializers/poll.py
  backend/tournesol/tests/test_api_polls_reco_random.py
  backend/tournesol/urls.py
  backend/tournesol/utils/constants.py
  backend/tournesol/views/polls.py
  backend/tournesol/views/polls_reco_random.py
  browser-extension/package.json
  browser-extension/src/background.js
  browser-extension/src/models/tournesolRecommendations/TournesolRecommendations.js
  frontend/scripts/openapi.yaml
Labels: Backend, Extension

#1830 [back][front] perf: stats API can be filtered by poll
  backend/tournesol/tests/test_api_statistics.py
  backend/tournesol/views/stats.py
  frontend/scripts/openapi.yaml
  frontend/src/features/comparisons/ComparisonSliders.tsx
  frontend/src/features/goals/CollectiveGoalWeeklyProgress.tsx
  frontend/src/features/statistics/StatsContext.tsx
  frontend/src/features/statistics/UsageStatsSection.tsx
  frontend/src/hooks/useStats.ts
  frontend/src/pages/about/PublicDownloadSection.tsx
  frontend/src/pages/home/videos/sections/ComparisonSection.tsx
  frontend/src/pages/home/videos/sections/recommendations/RecommendationsSection.tsx
Labels: Backend

#1877 [front] feat: complete PWA manifest
  frontend/index.html
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/icons/compare.png
  frontend/public/icons/favicon-128x128.png
  frontend/public/icons/favicon-512x512.png
  frontend/public/icons/favicon.ico
  frontend/public/icons/maskable-icon-512x512.png
  frontend/public/icons/recommendations.png
  frontend/public/images/screenshot_comparison_desktop.png
  frontend/public/images/screenshot_comparison_mobile.png
  frontend/public/manifest.json
  frontend/public/svg/details.svg
  frontend/public/svg/later.svg
  frontend/public/svg/more_info.svg
  frontend/public/tournesol_screenshot_og.png
  frontend/src/App.tsx
  frontend/src/app/SharedContent.tsx
  frontend/src/pages/entities/EntityAnalysisPage.tsx
Labels: Frontend

#1882 [back] fix: API /reco./random/ now prefetches criteria scores
  backend/tournesol/views/polls_reco_random.py
Labels: Bug, Backend

#1898 [front] feat: add menu item and banner to trigger pwa installation prompt
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/frame/Frame.tsx
  frontend/src/features/frame/components/sidebar/SideBar.tsx
  frontend/src/features/frame/components/topbar/PwaBanner.tsx
  frontend/src/features/frame/components/topbar/TopBar.tsx
  frontend/src/features/frame/pwaPrompt.ts
  frontend/src/theme.ts
Labels: Frontend

#1899 Browser extension.v3.5.0
  browser-extension/package.json
  browser-extension/prepareExtension.js
  browser-extension/src/addVideoButtons.css
  browser-extension/src/addVideoButtons.js
  browser-extension/src/images/watch.svg
Labels: Extension

#1873 [back] feat: add entity contexts to unconnected entities API
  backend/tournesol/serializers/comparison.py
  backend/tournesol/serializers/unconnected_entities.py
  backend/tournesol/tests/test_api_unconnected_entities.py
  backend/tournesol/views/comparison.py
  backend/tournesol/views/mixins/poll.py
  backend/tournesol/views/unconnected_entities.py
  frontend/scripts/openapi.yaml
  frontend/src/features/entity_selector/EntitySelectButton.tsx
Labels: Backend

#1903 [infra] sec: update tor exits more often (4d instead of 30d)
  infra/ansible/roles/django/tasks/main.yml
Labels: Infra, Security
