Repository tournesol-app/tournesol, pull requests merged in 2024-06, with the labels that each got.

#1973 [solidago] gbt: estimate asymmetrical uncertainties based on increase of loss by 1
  solidago/src/solidago/preference_learning/base.py
  solidago/src/solidago/preference_learning/generalized_bradley_terry.py
  solidago/src/solidago/preference_learning/lbfgs_generalized_bradley_terry.py
  solidago/src/solidago/solvers/dichotomy.py
  solidago/src/solidago/solvers/optimize.py
  solidago/tests/data/data_1.py
  solidago/tests/data/data_2.py
  solidago/tests/data/data_3.py
  solidago/tests/test_solvers.py
Labels: Solidago

#1971 [solidago] Update docstrings and add simple API for `Pipeline`
  backend/ml/inputs.py
  backend/tournesol/lib/public_dataset.py
  solidago/experiments/tournesol.py
  solidago/src/solidago/pipeline/__init__.py
  solidago/src/solidago/pipeline/inputs.py
  solidago/src/solidago/pipeline/pipeline.py
  solidago/src/solidago/preference_learning/__init__.py
  solidago/src/solidago/preference_learning/base.py
  solidago/src/solidago/preference_learning/generalized_bradley_terry.py
  solidago/src/solidago/preference_learning/lbfgs_generalized_bradley_terry.py
  solidago/src/solidago/trust_propagation/__init__.py
  solidago/src/solidago/trust_propagation/base.py
  solidago/src/solidago/trust_propagation/lipschitrust.py
  solidago/src/solidago/trust_propagation/no_trust_propagation.py
  solidago/src/solidago/trust_propagation/trust_all.py
  solidago/src/solidago/voting_rights/__init__.py
  solidago/src/solidago/voting_rights/affine_overtrust.py
  solidago/tests/test_judgments.py
  solidago/tests/test_privacy_settings.py
Labels: Backend, Solidago

#1977 [back][front] feat: add a setting to control the weekly col. goal on mobile
  backend/core/serializers/user_settings.py
  backend/core/tests/test_api_user_settings.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/scripts/openapi.yaml
  frontend/src/features/settings/preferences/TournesolUserSettingsForm.tsx
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.tsx
  frontend/src/pages/comparisons/Comparison.tsx
  frontend/src/utils/constants.tsx
Labels: Backend, Frontend

#1982 [ext] build separate packages for Firefox and Chrome (manifest v3)
  .github/workflows/browser-extension-release.yml
  .github/workflows/e2e.yml
  browser-extension/build.sh
  browser-extension/package.json
  browser-extension/prepareExtension.js
Labels: Extension

#1981 [front] style: make the Preferences page more user friendly
  frontend/src/features/settings/preferences/GeneralUserSettingsForm.tsx
  frontend/src/features/settings/preferences/SettingsHeading.tsx
  frontend/src/features/settings/preferences/VideosPollUserSettingsForm.tsx
Labels: Frontend

#1989 [back] optim: prefetch criteria locales in PollsView
  backend/tournesol/models/criteria.py
  backend/tournesol/tests/test_api_polls.py
  backend/tournesol/views/polls.py
Labels: Backend

#1969 [dataviz] perf: load reco with several HTTP requests
  data-visualization/pages/02_Videos_and_channels.py
  data-visualization/requirements.txt
  data-visualization/utils.py
Labels: Data Visualization

#1963 [back][front] refactor: remove obsolete /video/ routes
  backend/tournesol/entities/test_video.py
  backend/tournesol/serializers/entity.py
  backend/tournesol/tests/test_api_polls.py
  backend/tournesol/tests/test_api_video.py
  backend/tournesol/tests/test_schema.py
  backend/tournesol/tests/test_throttling.py
  backend/tournesol/tests/test_utils_video_language.py
  backend/tournesol/views/video.py
  data-visualization/pages/02_Videos_and_channels.py
  data-visualization/requirements.txt
  data-visualization/utils.py
  frontend/scripts/openapi.yaml
  frontend/src/components/CriteriaRadarChart.tsx
  frontend/src/hooks/useCriteriaChartData.ts
  frontend/src/utils/types.ts
  frontend/src/utils/video.ts
Labels: Backend, Frontend, Data Visualization

#1992 [infra] update alert rule about slow requests with pending period
  infra/ansible/roles/grafana_alerting/templates/defaultEvaluationGroup.yaml.j2
Labels: Infra
