Repository tournesol-app/tournesol, pull requests merged in 2024-02, with the labels that each got.

#1910 [front] fix: ajust entity card style to fix alignment on RateLater and Comparison pages
  frontend/src/components/entity/EntityCard.tsx
  frontend/src/components/entity/EntityCardScores.tsx
  frontend/src/components/entity/EntityCardTitle.tsx
  frontend/src/components/entity/EntityMetadata.tsx
  frontend/src/components/entity/style.ts
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/entity_selector/EntitySelector.tsx
  frontend/src/index.css
  frontend/src/pages/home/videos/sections/HomeComparison.tsx
  frontend/src/pages/rateLater/RateLater.tsx
Labels: Frontend

#1909 [front] fix: search returning video id when there is no video id
  frontend/src/features/frame/components/topbar/Search.tsx
  frontend/src/utils/video.spec.ts
  frontend/src/utils/video.ts
Labels: Bug, Frontend

#1907 [infra] fix: nginx is now restarted when block_tor snippet is updated
  infra/ansible/roles/django/tasks/main.yml
Labels: Bug, Security

#1905 [ext] fix: hide Watch on Tournesol button for anonymous users
  browser-extension/package.json
  browser-extension/src/addVideoButtons.js
Labels: Bug, Extension

#1906 [ext] style: align banner title style with front end style
  browser-extension/package.json
  browser-extension/src/addTournesolRecommendations.css
  browser-extension/src/models/banner/Banner.js
Labels: Extension

#1912 [ext] Manifest V3
  browser-extension/prepareExtension.js
  browser-extension/prepareTools.js
  browser-extension/src/.eslintrc.json
  browser-extension/src/background.js
  browser-extension/src/utils.js
Labels: Extension

#1916 [ext] trans: replace rate later confirmation with "Added!" instead of "Done!"
  browser-extension/src/addVideoButtons.js
Labels: Extension

#1884 [back] feat: add mgmt command to notify users without contribution
  backend/core/locale/fr/LC_MESSAGES/django.po
  backend/core/management/commands/remind_registrations.py
  backend/core/templates/core/no_contrib_email/_body_footer.inc.html
  backend/core/templates/core/no_contrib_email/_body_header.inc.html
  backend/core/templates/core/no_contrib_email/_body_style.inc.html
  backend/core/templates/core/no_contrib_email/_contrib_examples.inc.html
  backend/core/templates/core/no_contrib_email/_contrib_examples.inc.txt
  backend/core/templates/core/no_contrib_email/_mobile_available.inc.html
  backend/core/templates/core/no_contrib_email/_mobile_available.inc.txt
  backend/core/templates/core/no_contrib_email/body_no_contrib.html
  backend/core/templates/core/no_contrib_email/body_no_contrib.txt
  backend/core/templates/core/no_contrib_email/body_signup_contrib.html
  backend/core/templates/core/no_contrib_email/body_signup_contrib.txt
  backend/core/tests/management/test_remind_registrations.py
  backend/settings/settings.py
  backend/tournesol/locale/fr/LC_MESSAGES/django.po
  infra/ansible/inventory.yml
  infra/ansible/roles/django/tasks/main.yml
  infra/ansible/roles/django/templates/tournesol-api-remind-registrations.service.j2
  infra/ansible/roles/django/templates/tournesol-api-remind-registrations.timer.j2
Labels: Backend, Frontend, Infra

#1920 [front] feat: add the page /feed/recommendations
  frontend/public/manifest.json
  frontend/src/app/PollRoutes.tsx
  frontend/src/pages/feed/FeedCollectiveRecommendations.tsx
  frontend/src/utils/types.ts
  tests/cypress/e2e/frontend/comparisonPage.cy.ts
  tests/cypress/e2e/frontend/feedRecommendationsPage.cy.ts
Labels: Frontend
