Repository tournesol-app/tournesol, pull requests merged in 2024-11, with the labels that each got.

#2024 [front] ui: make 'next' buttons glow after has user has looped through all criteria
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/ContentHeader.tsx
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/comparisons/ComparisonInput.tsx
  frontend/src/features/comparisons/inputs/CriteriaButtons.tsx
  frontend/src/features/entity_selector/AutoEntityButton.tsx
  frontend/src/features/entity_selector/EntitySelectButton.tsx
  frontend/src/features/entity_selector/EntitySelector.tsx
  frontend/src/index.css
  frontend/src/pages/comparisons/Comparison.tsx
Labels: Frontend

#1968 [front] feat: add buttons to compare criteria
  .github/workflows/e2e.yml
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/ContentHeader.tsx
  frontend/src/features/comparisonSeries/TutorialContext.ts
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/features/comparisons/ComparisonInput.tsx
  frontend/src/features/comparisons/ComparisonList.tsx
  frontend/src/features/comparisons/ComparisonSliders.tsx
  frontend/src/features/comparisons/ItemsAreSimilar.tsx
  frontend/src/features/comparisons/inputs/CriteriaButtons.tsx
  frontend/src/features/comparisons/inputs/CriteriaButtonsScoreReview.tsx
  frontend/src/features/comparisons/inputs/CriterionButtons.tsx
  frontend/src/features/entity_selector/AutoEntityButton.tsx
  frontend/src/features/entity_selector/EntitySelectButton.tsx
  frontend/src/features/entity_selector/EntitySelector.tsx
  frontend/src/features/entity_selector/EntitySelectorControls.tsx
  frontend/src/features/goals/CollectiveGoalWeeklyProgress.tsx
  frontend/src/hooks/useNotifications.ts
  frontend/src/hooks/useOrderedCriteria.ts
  frontend/src/index.css
  frontend/src/pages/comparisons/Comparison.tsx
  frontend/src/theme.ts
  frontend/src/utils/criteria.ts
  frontend/src/utils/polls/videos.tsx
  frontend/src/utils/types.ts
Labels: Frontend

#2025 [front] fix: in the comp. ui the glow effect is now triggered properly
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/index.css
Labels: Bug, Frontend

#2026 [front] fix: ensure background color is set on hover for mobile buttons
  frontend/src/components/buttons/MobileButton.tsx
  frontend/src/components/buttons/MobileIconButton.tsx
  frontend/src/components/buttons/index.ts
  frontend/src/features/comparisons/inputs/CriteriaButtons.tsx
  frontend/src/features/comparisons/inputs/CriterionButtons.tsx
  frontend/src/features/entity_selector/AutoEntityButton.tsx
  frontend/src/features/entity_selector/EntitySelectButton.tsx
Labels: Frontend

#2027 [back] feat: display the score max in ComparisonCriteriaScore admin
  backend/tournesol/admin.py
  backend/tournesol/locale/fr/LC_MESSAGES/django.po
Labels: Backend

#2028 chore: remove pipeline legacy2023
  .github/workflows/backend-ci.yml
  backend/ml/inputs.py
  backend/ml/mehestan/parameters.py
  backend/ml/mehestan/run.py
  backend/ml/outputs.py
  backend/tournesol/lib/public_dataset.py
  backend/tournesol/tests/test_api_comparison.py
  backend/tournesol/tests/test_api_exports.py
  backend/tournesol/views/comparison.py
  backend/vouch/tests/test_trust_algo.py
  backend/vouch/trust_algo.py
  solidago/src/solidago/__version__.py
  solidago/src/solidago/pipeline/inputs.py
  solidago/src/solidago/pipeline/legacy2023/collaborative_scaling/__init__.py
  solidago/src/solidago/pipeline/legacy2023/collaborative_scaling/scaling.py
  solidago/src/solidago/pipeline/legacy2023/collaborative_scaling/scaling_step.py
  solidago/src/solidago/pipeline/legacy2023/criterion_pipeline.py
  solidago/src/solidago/pipeline/legacy2023/global_scores.py
  solidago/src/solidago/pipeline/legacy2023/individual_scores.py
  solidago/src/solidago/pipeline/legacy2023/parameters.py
  solidago/src/solidago/trust_propagation/lipschitrust.py
  solidago/tests/test_scaling.py
  solidago/tests/test_trust_propagation.py
Labels: Backend, Solidago

#2029 [tests] tests: add tests for the comparison buttons
  frontend/.env.development
  frontend/.env.test
  frontend/src/features/comparisons/ComparisonInput.tsx
  frontend/src/features/comparisons/inputs/CriteriaButtons.tsx
  frontend/src/features/comparisons/inputs/CriterionButtons.tsx
  tests/cypress/e2e/frontend/comparisonPage.cy.ts
  tests/cypress/e2e/frontend/comparisonPageInputButtons.cy.ts
  tests/cypress/support/commands.js
  tests/cypress/support/index.d.ts
Labels: Frontend, Frontend: tests

#2035 [front] style: set a fixed height to criteria icons in CriteriaButtonsScoreReview.tsx
  frontend/src/features/comparisons/inputs/CriteriaButtonsScoreReview.tsx
Labels: Frontend
