Repository tournesol-app/tournesol, pull requests merged in 2024-10, with the labels that each got.

#1970 Neurips24
  backend/ml/inputs.py
  backend/ml/management/commands/ml_train.py
  backend/ml/outputs.py
  backend/tests/requirements.txt
  backend/tournesol/lib/public_dataset.py
  backend/tournesol/management/commands/load_public_dataset.py
  backend/tournesol/tests/test_ml_run.py
  solidago/experiments/data_analysis.py
  solidago/experiments/engagement_bias.json
  solidago/experiments/resilience.json
  solidago/experiments/synthetic.py
  solidago/experiments/tournesol.py
  solidago/pyproject.toml
  solidago/src/solidago/__version__.py
  solidago/src/solidago/aggregation/entitywise_qr_quantile.py
  solidago/src/solidago/aggregation/standardized_qr_quantile.py
  solidago/src/solidago/generative_model/user_model.py
  solidago/src/solidago/judgments.py
  solidago/src/solidago/pipeline/__init__.py
  solidago/src/solidago/pipeline/inputs.py
  solidago/src/solidago/pipeline/pipeline.py
  solidago/src/solidago/post_process/base.py
  solidago/src/solidago/post_process/squash.py
  solidago/src/solidago/preference_learning/__init__.py
  solidago/src/solidago/preference_learning/base.py
  solidago/src/solidago/preference_learning/generalized_bradley_terry.py
  solidago/src/solidago/preference_learning/lbfgs_generalized_bradley_terry.py
  solidago/src/solidago/primitives.py
  solidago/src/solidago/scaling/__init__.py
  solidago/src/solidago/scaling/base.py
  solidago/src/solidago/scaling/mehestan.py
  solidago/src/solidago/scaling/quantile_zero_shift.py
  solidago/src/solidago/scaling/standardize.py
  solidago/src/solidago/scoring_model.py
  solidago/src/solidago/solvers/dichotomy.py
  solidago/src/solidago/solvers/optimize.py
  solidago/src/solidago/trust_propagation/__init__.py
  solidago/src/solidago/trust_propagation/base.py
  solidago/src/solidago/trust_propagation/lipschitrust.py
  solidago/src/solidago/trust_propagation/no_trust_propagation.py
  solidago/src/solidago/trust_propagation/noop.py
  solidago/src/solidago/trust_propagation/trust_all.py
  solidago/src/solidago/utils/pairs.py
  solidago/src/solidago/voting_rights/__init__.py
  solidago/src/solidago/voting_rights/affine_overtrust.py
  solidago/tests/data/data_1.py
  solidago/tests/data/data_2.py
  solidago/tests/data/data_3.py
  solidago/tests/data/data_4.py
  solidago/tests/data/tiny_tournesol.zip
  solidago/tests/test_aggregation.py
  solidago/tests/test_judgments.py
  solidago/tests/test_mehestan.py
  solidago/tests/test_preference_learning.py
  solidago/tests/test_primitives.py
  solidago/tests/test_privacy_settings.py
  solidago/tests/test_scaling.py
  solidago/tests/test_solvers.py
Labels: Solidago

#2021 [back] fix: read default log level from server settings if it's present
  backend/settings/settings.py
Labels: Backend

#2020 [front] feat: analysis page now displays the video title in its HTML doc title
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/features/comparisons/Comparison.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDocumentTitle.tsx
  frontend/src/pages/entities/EntityAnalysisPage.tsx
  frontend/src/utils/constants.tsx
Labels: Frontend

#1994 [solidago] Implement get_individual_scores & get_collective_scores
  solidago/.gitignore
  solidago/src/solidago/pipeline/inputs.py
  solidago/tests/test_pipeline.py
Labels: python, Solidago
