Repository tournesol-app/tournesol, pull requests merged in 2025-03, with the labels that each got.

#2066 front: update information on the donate page
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
Labels: Frontend

#2064 [back][ext] feat: add rate limit to the bulk create route of the rate-later API
  backend/settings/settings.py
  backend/tournesol/views/rate_later.py
  browser-extension/src/_locales/en/messages.json
  browser-extension/src/_locales/fr/messages.json
  browser-extension/src/rateLaterHistory.css
  browser-extension/src/rateLaterHistory.js
  browser-extension/src/utils.js
Labels: Backend, Extension

#2068 [ext] feat: keep imported videos in cache to not import them again
  browser-extension/src/_locales/en/messages.json
  browser-extension/src/_locales/fr/messages.json
  browser-extension/src/rateLaterHistory.css
  browser-extension/src/rateLaterHistory.js
Labels: Extension

#2069 [ext] YouTube history import: fix compatibility with Chrome
  browser-extension/src/background.js
  browser-extension/src/browserAction/menu.js
  browser-extension/src/rateLaterHistory.js
  browser-extension/src/utils.js
Labels: Extension

#2059 Import YouTube history into the rate later list
  backend/settings/settings.py
  backend/tournesol/serializers/rate_later.py
  backend/tournesol/tests/test_api_rate_later.py
  backend/tournesol/urls.py
  backend/tournesol/utils/constants.py
  backend/tournesol/views/rate_later.py
  browser-extension/package.json
  browser-extension/prepareExtension.js
  browser-extension/src/_locales/en/messages.json
  browser-extension/src/_locales/fr/messages.json
  browser-extension/src/background.js
  browser-extension/src/browserAction/menu.html
  browser-extension/src/browserAction/menu.js
  browser-extension/src/rateLaterHistory.css
  browser-extension/src/rateLaterHistory.js
  browser-extension/src/utils.js
  frontend/scripts/openapi.yaml
Labels: Backend, Extension

#1972 [solidago] init docs content and use mkdocs to build docs pages
  .github/workflows/solidago-publish.yml
  frontend/src/features/frame/components/footer/Footer.tsx
  frontend/src/utils/url.ts
  solidago/.gitignore
  solidago/README.md
  solidago/docs/CNAME
  solidago/docs/hooks.py
  solidago/docs/index.md
  solidago/docs/javascripts/mathjax.js
  solidago/docs/modules/aggregation.md
  solidago/docs/modules/post_process.md
  solidago/docs/modules/preference_learning.md
  solidago/docs/modules/scaling.md
  solidago/docs/modules/trust_propagation.md
  solidago/docs/modules/voting_rights.md
  solidago/docs/overrides/main.html
  solidago/docs/pipeline.md
  solidago/docs/primitives.md
  solidago/docs/structures/privacy_settings.md
  solidago/docs/structures/scoring_model.md
  solidago/docs/tournesol.md
  solidago/experiments/tournesol.py
  solidago/mkdocs.yml
  solidago/pyproject.toml
  solidago/src/solidago/__version__.py
  solidago/src/solidago/aggregation/__init__.py
  solidago/src/solidago/aggregation/entitywise_qr_quantile.py
  solidago/src/solidago/aggregation/standardized_qr_median.py
  solidago/src/solidago/aggregation/standardized_qr_quantile.py
  solidago/src/solidago/pipeline/inputs.py
  solidago/src/solidago/pipeline/pipeline.py
  solidago/src/solidago/post_process/__init__.py
  solidago/src/solidago/post_process/squash.py
  solidago/src/solidago/preference_learning/__init__.py
  solidago/src/solidago/primitives.py
  solidago/src/solidago/privacy_settings.py
  solidago/src/solidago/scaling/__init__.py
  solidago/src/solidago/scaling/mehestan.py
  solidago/src/solidago/scaling/quantile_zero_shift.py
  solidago/src/solidago/scaling/standardize.py
  solidago/src/solidago/scoring_model.py
  solidago/src/solidago/trust_propagation/__init__.py
  solidago/src/solidago/trust_propagation/lipschitrust.py
  solidago/src/solidago/trust_propagation/no_trust_propagation.py
  solidago/src/solidago/trust_propagation/noop.py
  solidago/src/solidago/trust_propagation/trust_all.py
  solidago/src/solidago/voting_rights/__init__.py
  solidago/src/solidago/voting_rights/affine_overtrust.py
  solidago/src/solidago/voting_rights/is_trust.py
Labels: Solidago
