Repository tournesol-app/tournesol, pull requests merged in 2025-02, with the labels that each got.

#2053 [front] chore: add new cert fingerprint given by Google Play Console
  frontend/public/.well-known/assetlinks.tournesol.app.json
Labels: Frontend

#2057 [front][infra] feat: display bluesky links + fix tournesol bot deployment
  frontend/src/features/frame/components/footer/Footer.tsx
  frontend/src/utils/url.ts
  infra/ansible/roles/django/templates/tournesol-twitterbot-top-contributors.timer.j2
  infra/ansible/roles/django/templates/tournesol-twitterbot.timer.j2
Labels: Frontend, Infra

#2058 [back] fix: upgrade Django to 4.2.19 from 4.2.18
  backend/requirements.txt
Labels: Backend

#2060 [front] chore: set the iarc_rating_id in manifest.json
  frontend/public/manifest.json
Labels: Frontend

#2061 [back] chore: adjust min reliability score for videos posted by bots
  backend/twitterbot/settings.py
Labels: Backend

#2062 [infra] fix: enable wal for grafana database to reduce errors about locked db
  infra/ansible/roles/monitoring/tasks/main.yml
Labels: Bug, Infra

#2045 Solidago: Deleted deprecated preference learning code
  solidago/src/solidago/comparisons_to_scores/__init__.py
  solidago/src/solidago/comparisons_to_scores/base.py
  solidago/src/solidago/comparisons_to_scores/continuous_bradley_terry.py
  solidago/src/solidago/comparisons_to_scores/hooke_individual_scores.py
  solidago/tests/test_preference_learning.py
  solidago/tests/test_user_models.py
Labels: Solidago
