Repository tournesol-app/tournesol, pull requests merged in 2025-05, with the labels that each got.

#2083 Update Tournesol homepage Person Coefiscients graph
  data-visualization/.gitignore
  data-visualization/README.md
  data-visualization/pages/02_Videos_and_channels.py
  data-visualization/pages/03_Community_evolution.py
  data-visualization/requirements.txt
  frontend/public/images/criteria_pearson_correlation_matrix_2025_05_12.png
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/pages/home/videos/sections/research/VisualizeDataBox.tsx
Labels: Data Visualization

#2084 [front] chore: upgrade notistack to v3
  frontend/package.json
  frontend/src/index.css
  frontend/yarn.lock
Labels: Frontend

#2085 chore: Upgrade Node.js from v18 to v22
  .github/workflows/browser-extension-ci.yml
  .github/workflows/browser-extension-release.yml
  .github/workflows/e2e.yml
  .github/workflows/frontend-ci.yml
  dev-env/docker-compose.yml
  frontend/README.md
  frontend/i18next-parser.config.js
  infra/ansible/inventory.yml
  tests/README.md
Labels: Frontend, Infra

#2080 [front] UI adjustements in EntityCard, VideoPlayer and various icons
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/ContentHeader.tsx
  frontend/src/components/entity/EntityCard.spec.tsx
  frontend/src/components/entity/EntityCard.tsx
  frontend/src/components/entity/EntityImagery.tsx
  frontend/src/features/entity_selector/AutoEntityButton.tsx
  frontend/src/features/ratings/RatingOrderByInput.tsx
  frontend/src/features/videos/VideoCard.tsx
  frontend/src/pages/recommendations/RecommendationPage.tsx
  frontend/src/pages/videos/VideoAnalysisPage.tsx
  frontend/src/utils/action.tsx
Labels: Frontend

#2089 [solidago] add instructions to build docs locally in readme
  solidago/README.md
Labels: Solidago
